<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Clean-data-with-geocode" data-toc-modified-id="Clean-data-with-geocode-1">Clean data with geocode</a></span></li><li><span><a href="#Public-School-Dataset" data-toc-modified-id="Public-School-Dataset-2">Public School Dataset</a></span></li><li><span><a href="#Law-Enforcement" data-toc-modified-id="Law-Enforcement-3">Law Enforcement</a></span></li><li><span><a href="#Fast-Food-Resturant" data-toc-modified-id="Fast-Food-Resturant-4">Fast Food Resturant</a></span></li><li><span><a href="#Farmer's-Markets" data-toc-modified-id="Farmer's-Markets-5">Farmer's Markets</a></span></li><li><span><a href="#Hospital-Location" data-toc-modified-id="Hospital-Location-6">Hospital Location</a></span></li><li><span><a href="#Airports" data-toc-modified-id="Airports-7">Airports</a></span></li><li><span><a href="#Vegetarian-Resturant" data-toc-modified-id="Vegetarian-Resturant-8">Vegetarian Resturant</a></span></li><li><span><a href="#Top-School-Ranking-(NOT-FINISHED)" data-toc-modified-id="Top-School-Ranking-(NOT-FINISHED)-9">Top School Ranking (NOT FINISHED)</a></span></li></ul></div>

# Clean data with geocode

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('clean_data_with_geocode.csv')
data.head()

,Unnamed: 0,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,...,PROPERTY_DATECOMPLETED,PROPERTY_CURRENT_OCCUPANCY,PROPERTY_CURRENT_RENT,PROPERTY_MATRIX_URL,current_rent_sqft,state_code,county_code,census_tract,block_group,census_code
0,0,15_1028,15,Miami,18.0,Hialeah,Miami-Dade,Blackstone,NaN,3699 West 12th Avenue,...,1970-01-01 00:00:00,97.4,1135.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2.183797,12,86,720,1,120860007201
1,1,15_1202301,15,Miami,20.0,Opa-locka,Miami-Dade,Providence,"Pinks, The",13300 Alexandria Drive,...,1972-01-01 00:00:00,90.3,1482.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2.096346,12,86,508,1,120860005081
2,2,15_1218,15,Miami,23.0,North Miami Beach,Miami-Dade,Waterview,NaN,1720 South Glades Drive,...,1961-01-01 00:00:00,100.0,1471.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2.001361,12,86,225,2,120860002252
3,3,15_132,15,Miami,5.0,Miami - Overtown,Miami-Dade,Manhattan,NaN,560 NW 7th Street,...,1960-01-01 00:00:00,100.0,978.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,1.539484,12,86,3607,2,120860036072
4,4,15_1430,15,Miami,18.0,Hialeah,Miami-Dade,Curbelo & Sons,Zuvelo & Son,6151 West 24th Avenue,...,1990-01-01 00:00:00,100.0,1156.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,1.798683,12,86,13500,2,120860135002

# Public School Dataset

In [3]:
import pandas as pd

In [4]:
private_school = pd.read_csv('Private_School_Locations_-_Current.csv')
private_school.head()

,OBJECTID,PPIN,NAME,STREET,CITY,STATE,ZIP,STFIP,CNTY,NMCNTY,...,NMCBSA,CBSATYPE,CSA,NMCSA,NECTA,NMNECTA,CD,SLDL,SLDU,SCHOOLYEAR
0,1,00002722,AUTAUGA ACADEMY,497 GOLSON RD,PRATTVILLE,AL,36067,1,1001,Autauga County,...,"Montgomery, AL",1,N,N,N,N,102,01042,01030,2017-2018
1,2,A0100060,CAMELLIA BAPTIST WEM,201 WOODVALE RD,PRATTVILLE,AL,36067,1,1001,Autauga County,...,"Montgomery, AL",1,N,N,N,N,102,01088,01030,2017-2018
2,3,A0500015,EAST MEMORIAL CHRISTIAN ACADEMY,1320 OLD RIDGE RD N,PRATTVILLE,AL,36066,1,1001,Autauga County,...,"Montgomery, AL",1,N,N,N,N,102,01088,01030,2017-2018
3,4,A0900032,FIRST PRESBYTERIAN KINDERGARTEN,211 S CHESTNUT ST,PRATTVILLE,AL,36067,1,1001,Autauga County,...,"Montgomery, AL",1,N,N,N,N,102,01088,01030,2017-2018
4,5,A1300011,FOUNTAIN CITY BAPTIST HOME SCHOOL,237 S NORTHINGTON ST,PRATTVILLE,AL,36067,1,1001,Autauga County,...,"Montgomery, AL",1,N,N,N,N,102,01088,01030,2017-2018

In [5]:
public_school = pd.read_csv('Public_School_Locations_-_Current.csv')

/Users/pizhengzhang/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (26) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
private_school.columns

Index(['OBJECTID', 'PPIN', 'NAME', 'STREET', 'CITY', 'STATE', 'ZIP', 'STFIP',
       'CNTY', 'NMCNTY', 'LOCALE', 'LAT', 'LON', 'CBSA', 'NMCBSA', 'CBSATYPE',
       'CSA', 'NMCSA', 'NECTA', 'NMNECTA', 'CD', 'SLDL', 'SLDU', 'SCHOOLYEAR'],
      dtype='object')

In [7]:
private_school.drop(['OBJECTID','PPIN','STFIP','CBSA', 'NMCBSA', 'CBSATYPE',
       'CSA', 'NMCSA', 'NECTA', 'NMNECTA', 'CD', 'SLDL', 'SLDU', 'SCHOOLYEAR'], axis=1, inplace=True )

In [8]:
private_school.head()

,NAME,STREET,CITY,STATE,ZIP,CNTY,NMCNTY,LOCALE,LAT,LON
0,AUTAUGA ACADEMY,497 GOLSON RD,PRATTVILLE,AL,36067,1001,Autauga County,41,32.472090,-86.541877
1,CAMELLIA BAPTIST WEM,201 WOODVALE RD,PRATTVILLE,AL,36067,1001,Autauga County,21,32.469051,-86.457873
2,EAST MEMORIAL CHRISTIAN ACADEMY,1320 OLD RIDGE RD N,PRATTVILLE,AL,36066,1001,Autauga County,41,32.499694,-86.424681
3,FIRST PRESBYTERIAN KINDERGARTEN,211 S CHESTNUT ST,PRATTVILLE,AL,36067,1001,Autauga County,21,32.460800,-86.472061
4,FOUNTAIN CITY BAPTIST HOME SCHOOL,237 S NORTHINGTON ST,PRATTVILLE,AL,36067,1001,Autauga County,21,32.459900,-86.466881

In [9]:
public_school.drop(['X', 'Y', 'FID', 'NCESSCH', 'LEAID', 'OPSTFIPS',
       'STFIP', 'CBSA', 'NMCBSA', 'CBSATYPE', 'CSA', 'NMCSA', 'NECTA', 'NMNECTA',
       'CD', 'SLDL', 'SLDU', 'SCHOOLYEAR'], axis=1, inplace=True)

In [10]:
public_school.head()

,NAME,STREET,CITY,STATE,ZIP,CNTY,NMCNTY,LOCALE,LAT,LON
0,Albertville Middle School,600 E Alabama Ave,Albertville,AL,35950,1095,Marshall County,32,34.2602,-86.206200
1,Albertville High School,402 E McCord Ave,Albertville,AL,35950,1095,Marshall County,32,34.2622,-86.204900
2,Evans Elementary School,901 W McKinney Ave,Albertville,AL,35950,1095,Marshall County,32,34.2733,-86.220100
3,Albertville Elementary School,145 West End Drive,Albertville,AL,35950,1095,Marshall County,32,34.2527,-86.221806
4,Albertville Kindergarten and PreK,257 Country Club Rd,Albertville,AL,35951,1095,Marshall County,32,34.2898,-86.193300

In [11]:
public_school.shape

(101688, 10)

In [12]:
private_school.shape

(22890, 10)

In [13]:
school = pd.concat([public_school,private_school], axis = 0)

In [14]:
school.head()

,NAME,STREET,CITY,STATE,ZIP,CNTY,NMCNTY,LOCALE,LAT,LON
0,Albertville Middle School,600 E Alabama Ave,Albertville,AL,35950,1095,Marshall County,32,34.2602,-86.206200
1,Albertville High School,402 E McCord Ave,Albertville,AL,35950,1095,Marshall County,32,34.2622,-86.204900
2,Evans Elementary School,901 W McKinney Ave,Albertville,AL,35950,1095,Marshall County,32,34.2733,-86.220100
3,Albertville Elementary School,145 West End Drive,Albertville,AL,35950,1095,Marshall County,32,34.2527,-86.221806
4,Albertville Kindergarten and PreK,257 Country Club Rd,Albertville,AL,35951,1095,Marshall County,32,34.2898,-86.193300

In [15]:
school.columns

Index(['NAME', 'STREET', 'CITY', 'STATE', 'ZIP', 'CNTY', 'NMCNTY', 'LOCALE',
       'LAT', 'LON'],
      dtype='object')

In [16]:
school.isnull().sum()

NAME      0
STREET    3
CITY      0
STATE     0
ZIP       0
CNTY      0
NMCNTY    0
LOCALE    0
LAT       0
LON       0
dtype: int64

In [17]:
#no street address is ok, have name and long & lattitude
nodata = school['STREET'].isnull()
nodata = pd.DataFrame(nodata)
nodata[nodata.any(axis=1)]

       STREET
19070    True
19074    True
37752    True

In [18]:
#school.to_excel('U.S. School.xlsx')

In [19]:
def calcDistance(Lat_A, Lng_A, Lat_B, Lng_B):
    EARTH_RADIUS = 6378.137
    radLat1 = radians(Lat_A)
    radLat2 = radians(Lat_B)
    a=radLat1-radLat2
    b=radians(Lng_A)-radians(Lng_B)
 
    s = 2 * asin(sqrt(pow(sin(a/2),2)+cos(radLat1)*cos(radLat2)*pow(sin(b/2),2)));  
    s = s * EARTH_RADIUS/1.6;   
    return s

In [20]:
from math import *
data_long = list(data['PROPERTY_LONGITUDE'])
data_lat = list(data['PROPERTY_LATITUDE'])
stb_long = list(school['LON'])
stb_lat = list(school['LAT'])
# visits = list(school['Total Visits'])
number = []
#number_visits = []
i=0
for a,b in zip(data_lat,data_long):
    n = 0
#     total_number_visit = 0
    p = 0 #position
    total_number = 0
    for c,d in zip(stb_lat,stb_long):
        dis = calcDistance(a,b,c,d)
        if dis <= 2:
            n = n+1
#             total_number = total_number+visits[p]
            p = p+1
        else:
            n = n
            p = p+1
    i = i+1
    number.append(n)
#     number_visits.append(total_number)
    if i % 100 ==0:
        print(i)
number
# number_visits

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000
10100
10200
10300
10400
10500
10600
10700
10800

[50,
 22,
 28,
 58,
 54,
 53,
 28,
 58,
 39,
 26,
 38,
 40,
 46,
 41,
 34,
 26,
 60,
 37,
 12,
 14,
 13,
 15,
 14,
 12,
 14,
 2,
 11,
 4,
 15,
 2,
 13,
 10,
 7,
 11,
 4,
 17,
 11,
 16,
 14,
 10,
 21,
 18,
 18,
 28,
 16,
 9,
 22,
 11,
 21,
 9,
 9,
 14,
 13,
 8,
 9,
 44,
 2,
 13,
 15,
 19,
 14,
 1,
 4,
 5,
 37,
 17,
 47,
 74,
 11,
 11,
 8,
 7,
 13,
 14,
 2,
 6,
 18,
 23,
 9,
 5,
 22,
 20,
 18,
 7,
 21,
 2,
 24,
 17,
 12,
 17,
 12,
 20,
 18,
 16,
 26,
 5,
 14,
 17,
 19,
 19,
 2,
 8,
 9,
 7,
 10,
 7,
 6,
 8,
 21,
 19,
 19,
 17,
 11,
 33,
 37,
 21,
 33,
 34,
 31,
 28,
 27,
 32,
 31,
 31,
 21,
 32,
 4,
 13,
 31,
 13,
 21,
 11,
 13,
 18,
 13,
 22,
 6,
 4,
 8,
 2,
 11,
 9,
 2,
 3,
 18,
 18,
 10,
 22,
 18,
 10,
 16,
 17,
 12,
 12,
 8,
 19,
 6,
 15,
 6,
 11,
 18,
 17,
 23,
 14,
 23,
 24,
 20,
 28,
 9,
 13,
 13,
 8,
 21,
 6,
 10,
 11,
 7,
 18,
 24,
 12,
 14,
 13,
 12,
 19,
 19,
 19,
 18,
 16,
 6,
 2,
 3,
 1,
 11,
 7,
 5,
 19,
 23,
 10,
 8,
 11,
 23,
 5,
 5,
 11,
 40,
 29,
 33,
 17,
 36,
 27,
 37,
 28,
 26,
 30,
 14,
 23,
 16,
 6,
 1,
 10,
 7,
 8,
 12,
 27,
 6,
 20,
 21,
 14,
 25,
 22,
 2,
 7,
 6,
 7,
 6,
 8,
 22,
 6,
 5,
 8,
 17,
 19,
 12,
 9,
 1,
 6,
 15,
 11,
 11,
 24,
 16,
 14,
 15,
 23,
 17,
 27,
 11,
 9,
 22,
 19,
 12,
 6,
 6,
 10,
 12,
 5,
 13,
 5,
 9,
 21,
 28,
 21,
 5,
 19,
 18,
 4,
 2,
 14,
 9,
 14,
 21,
 3,
 12,
 17,
 23,
 3,
 30,
 35,
 21,
 22,
 26,
 25,
 16,
 18,
 34,
 24,
 8,
 10,
 18,
 15,
 19,
 10,
 16,
 9,
 0,
 16,
 16,
 14,
 12,
 23,
 8,
 5,
 6,
 8,
 7,
 9,
 8,
 12,
 13,
 10,
 14,
 2,
 3,
 20,
 8,
 5,
 2,
 17,
 9,
 10,
 8,
 6,
 0,
 13,
 6,
 5,
 1,
 18,
 13,
 16,
 8,
 6,
 5,
 4,
 35,
 11,
 35,
 10,
 13,
 13,
 20,
 71,
 26,
 51,
 34,
 38,
 32,
 14,
 36,
 16,
 4,
 6,
 9,
 17,
 13,
 7,
 7,
 2,
 9,
 5,
 15,
 20,
 2,
 10,
 8,
 7,
 17,
 22,
 15,
 10,
 10,
 13,
 6,
 14,
 13,
 10,
 6,
 34,
 7,
 12,
 13,
 7,
 5,
 7,
 6,
 1,
 4,
 2,
 1,
 31,
 13,
 11,
 34,
 5,
 11,
 11,
 12,
 8,
 6,
 10,
 5,
 5,
 0,
 9,
 25,
 8,
 24,
 27,
 5,
 16,
 17,
 20,
 11,
 11,
 9,
 9,
 28,
 24,
 7,
 10,
 0,
 8,
 10,
 12,
 15,
 8,
 9,
 7,
 33,
 0,
 5,
 1,
 22,
 41,
 3,
 17,
 36,
 6,
 3,
 9,
 18,
 18,
 13,
 4,
 9,
 10,
 10,
 3,
 7,
 11,
 6,
 4,
 6,
 4,
 3,
 20,
 16,
 11,
 4,
 7,
 22,
 9,
 10,
 9,
 5,
 7,
 5,
 14,
 13,
 2,
 11,
 15,
 2,
 5,
 4,
 18,
 22,
 20,
 14,
 4,
 11,
 8,
 18,
 18,
 2,
 0,
 4,
 13,
 0,
 4,
 16,
 3,
 7,
 7,
 3,
 5,
 18,
 0,
 2,
 5,
 14,
 20,
 25,
 10,
 25,
 21,
 13,
 16,
 15,
 16,
 16,
 10,
 30,
 11,
 29,
 27,
 24,
 10,
 15,
 18,
 17,
 31,
 17,
 31,
 13,
 8,
 19,
 14,
 13,
 7,
 14,
 10,
 7,
 6,
 18,
 7,
 3,
 5,
 12,
 10,
 5,
 9,
 5,
 20,
 2,
 4,
 23,
 3,
 18,
 17,
 12,
 23,
 7,
 3,
 1,
 4,
 3,
 3,
 5,
 9,
 2,
 7,
 0,
 4,
 0,
 3,
 0,
 6,
 7,
 6,
 9,
 7,
 13,
 9,
 8,
 1,
 8,
 7,
 10,
 16,
 52,
 21,
 10,
 12,
 11,
 26,
 28,
 54,
 29,
 21,
 21,
 7,
 32,
 32,
 6,
 7,
 10,
 1,
 2,
 1,
 1,
 0,
 11,
 7,
 4,
 11,
 10,
 11,
 9,
 15,
 6,
 12,
 12,
 18,
 12,
 7,
 1,
 12,
 12,
 7,
 15,
 14,
 21,
 6,
 10,
 3,
 17,
 10,
 12,
 6,
 8,
 3,
 10,
 10,
 8,
 5,
 7,
 5,
 1,
 29,
 5,
 15,
 12,
 12,
 33,
 30,
 6,
 13,
 6,
 30,
 20,
 31,
 34,
 43,
 33,
 10,
 3,
 11,
 12,
 7,
 7,
 19,
 6,
 1,
 7,
 6,
 11,
 12,
 10,
 9,
 7,
 9,
 7,
 23,
 4,
 9,
 18,
 7,
 9,
 18,
 9,
 27,
 22,
 9,
 5,
 4,
 16,
 17,
 13,
 17,
 6,
 7,
 11,
 5,
 10,
 11,
 2,
 6,
 40,
 4,
 12,
 5,
 1,
 6,
 1,
 3,
 3,
 1,
 6,
 3,
 4,
 1,
 32,
 4,
 3,
 21,
 5,
 10,
 1,
 1,
 6,
 10,
 11,
 1,
 14,
 23,
 15,
 11,
 9,
 1,
 15,
 22,
 13,
 9,
 10,
 12,
 1,
 0,
 14,
 1,
 12,
 4,
 8,
 3,
 3,
 0,
 2,
 11,
 11,
 4,
 2,
 3,
 3,
 16,
 7,
 10,
 14,
 9,
 8,
 6,
 4,
 19,
 1,
 9,
 11,
 6,
 5,
 1,
 2,
 6,
 6,
 4,
 3,
 8,
 4,
 0,
 2,
 13,
 7,
 15,
 14,
 37,
 17,
 31,
 7,
 27,
 12,
 13,
 13,
 17,
 25,
 14,
 10,
 16,
 26,
 27,
 14,
 9,
 15,
 10,
 4,
 27,
 32,
 11,
 11,
 11,
 4,
 15,
 9,
 10,
 15,
 13,
 8,
 4,
 17,
 10,
 9,
 9,
 14,
 11,
 1,
 6,
 6,
 11,
 10,
 8,
 8,
 13,
 7,
 9,
 11,
 6,
 5,
 18,
 20,
 16,
 17,
 12,
 8,
 14,
 4,
 19,
 4,
 8,
 3,
 18,
 3,
 4,
 3,
 10,
 3,
 7,
 4,
 4,
 5,
 9,
 18,
 0,
 8,
 1,
 1,
 4,
 4,
 4,
 0,
 10,
 5,
 8,
 6,
 4,
 1,
 7,
 1,
 5,
 2,
 8,
 6,
 0,
 1,
 1,
 32,
 29,
 27,
 21,
 27,
 26,
 35,
 32,
 37,
 21,
 48,
 12,
 40,
 45,
 11,
 28,
 19,
 45,
 17,
 20,
 25,
 11,
 15,
 14,
 14,
 24,
 28,
 6,
 35,
 10,
 57,
 37,
 20,
 15,
 24,
 7,
 49,
 9,
 8,
 1,
 5,
 7,
 7,
 1,
 5,
 4,
 12,
 9,
 19,
 13,
 5,
 6,
 21,
 5,
 14,
 9,
 10,
 16,
 6,
 1,
 11,
 10,
 10,
 6,
 13,
 7,
 6,
 4,
 16,
 12,
 21,
 4,
 12,
 16,
 8,
 5,
 10,
 15,
 13,
 7,
 16,
 30,
 6,
 15,
 17,
 12,
 1,
 7,
 5,
 19,
 15,
 13,
 8,
 22,
 34,
 10,
 7,
 5,
 8,
 12,
 11,
 6,
 12,
 4,
 16,
 16,
 9,
 0,
 1,
 11,
 ...]

In [21]:
data['num_of_school'] = number
# data['annual_visits'] = number_visits
data.head()

,Unnamed: 0,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,...,PROPERTY_CURRENT_OCCUPANCY,PROPERTY_CURRENT_RENT,PROPERTY_MATRIX_URL,current_rent_sqft,state_code,county_code,census_tract,block_group,census_code,num_of_school
0,0,15_1028,15,Miami,18.0,Hialeah,Miami-Dade,Blackstone,NaN,3699 West 12th Avenue,...,97.4,1135.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2.183797,12,86,720,1,120860007201,50
1,1,15_1202301,15,Miami,20.0,Opa-locka,Miami-Dade,Providence,"Pinks, The",13300 Alexandria Drive,...,90.3,1482.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2.096346,12,86,508,1,120860005081,22
2,2,15_1218,15,Miami,23.0,North Miami Beach,Miami-Dade,Waterview,NaN,1720 South Glades Drive,...,100.0,1471.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2.001361,12,86,225,2,120860002252,28
3,3,15_132,15,Miami,5.0,Miami - Overtown,Miami-Dade,Manhattan,NaN,560 NW 7th Street,...,100.0,978.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,1.539484,12,86,3607,2,120860036072,58
4,4,15_1430,15,Miami,18.0,Hialeah,Miami-Dade,Curbelo & Sons,Zuvelo & Son,6151 West 24th Avenue,...,100.0,1156.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,1.798683,12,86,13500,2,120860135002,54

In [22]:
#data.to_excel('num_of_school.xlsx')

# Law Enforcement

In [23]:
law_enf = pd.read_csv('local_law_enforcement_locations.csv')
law_enf.head()

,X,Y,OBJECTID,ID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,...,SUBTYPE1,SUBTYPE2,TRIBAL,NUMPRE,NUMFIXSUB,NUMMOBILE,FTSWORN,FTCIV,PTSWORN,PTCIV
0,-9.435540e+06,4.012135e+06,1,1004101,HIRAM POLICE DEPARTMENT,217 MAIN STREET,HIRAM,GA,30141,3249,...,-999,-999,0,0,0,0,15,2,0,0
1,-9.120461e+06,3.754819e+06,2,1004058,GLENNVILLE POLICE DEPARTMENT,201 SOUTH CHURCH STREET,GLENNVILLE,GA,30427,1509,...,-999,-999,0,0,0,0,8,5,3,2
2,-1.022031e+07,3.630996e+06,3,1008255,SIMMESPORT POLICE DEPARTMENT,372 MISSION DRIVE,SIMMESPORT,LA,71369,2000,...,-999,-999,0,0,0,0,7,0,3,0
3,-1.037930e+07,3.834564e+06,4,1007969,DUBBERLY POLICE DEPARTMENT,1748 BRUSHWOOD DRIVE,DUBBERLY,LA,71024,2578,...,-999,-999,0,0,0,0,1,0,0,0
4,-9.289976e+06,5.424068e+06,5,1009889,SEBEWAING POLICE DEPARTMENT,125 WEST MAIN STREET,SEBEWAING,MI,48759,1326,...,-999,-999,0,0,0,0,3,0,14,0

In [24]:
law_enf.shape

(23486, 38)

In [25]:
law_enf.columns

Index(['X', 'Y', 'OBJECTID', 'ID', 'NAME', 'ADDRESS', 'CITY', 'STATE', 'ZIP',
       'ZIP4', 'TELEPHONE', 'TYPE', 'STATUS', 'POPULATION', 'COUNTY',
       'COUNTYFIPS', 'COUNTRY', 'LATITUDE', 'LONGITUDE', 'NAICS_CODE',
       'NAICS_DESC', 'SOURCE', 'SOURCEDATE', 'VAL_METHOD', 'VAL_DATE',
       'WEBSITE', 'CI_ID', 'CSLLEA08ID', 'SUBTYPE1', 'SUBTYPE2', 'TRIBAL',
       'NUMPRE', 'NUMFIXSUB', 'NUMMOBILE', 'FTSWORN', 'FTCIV', 'PTSWORN',
       'PTCIV'],
      dtype='object')

In [26]:
#only want ones that are open
law_enf['STATUS'].value_counts()

OPEN             23043
NOT AVAILABLE      443
Name: STATUS, dtype: int64

In [27]:
law_enf.drop(law_enf[law_enf['STATUS'] == 'NOT AVAILABLE'].index, inplace = True)

In [28]:
#only want from USA
law_enf['COUNTRY'].value_counts()

USA    22893
PRI      150
Name: COUNTRY, dtype: int64

In [29]:
law_enf.drop(law_enf[law_enf['COUNTRY'] == 'PRI'].index, inplace = True)
law_enf['COUNTRY'].value_counts()

USA    22893
Name: COUNTRY, dtype: int64

In [30]:
law_enf['TYPE'].value_counts()

LOCAL POLICE DEPARTMENT    15097
SHERIFF'S OFFICE            3786
SPECIAL JURISDICTION        1930
PRIMARY STATE AGENCY        1829
CONSTABLE/MARSHAL            251
Name: TYPE, dtype: int64

In [31]:
local_law_enforcement = law_enf[['NAME','ADDRESS','CITY','STATE','ZIP','TYPE','STATUS','COUNTY','LATITUDE','LONGITUDE']]
local_law_enforcement.head()

,NAME,ADDRESS,CITY,STATE,ZIP,TYPE,STATUS,COUNTY,LATITUDE,LONGITUDE
0,HIRAM POLICE DEPARTMENT,217 MAIN STREET,HIRAM,GA,30141,LOCAL POLICE DEPARTMENT,OPEN,PAULDING,33.875780,-84.760902
1,GLENNVILLE POLICE DEPARTMENT,201 SOUTH CHURCH STREET,GLENNVILLE,GA,30427,LOCAL POLICE DEPARTMENT,OPEN,TATTNALL,31.935284,-81.930495
2,SIMMESPORT POLICE DEPARTMENT,372 MISSION DRIVE,SIMMESPORT,LA,71369,LOCAL POLICE DEPARTMENT,OPEN,AVOYELLES,30.986499,-91.810631
3,DUBBERLY POLICE DEPARTMENT,1748 BRUSHWOOD DRIVE,DUBBERLY,LA,71024,LOCAL POLICE DEPARTMENT,OPEN,WEBSTER,32.541204,-93.238851
4,SEBEWAING POLICE DEPARTMENT,125 WEST MAIN STREET,SEBEWAING,MI,48759,LOCAL POLICE DEPARTMENT,OPEN,HURON,43.732038,-83.453271

In [32]:
def calcDistance(Lat_A, Lng_A, Lat_B, Lng_B):
    EARTH_RADIUS = 6378.137
    radLat1 = radians(Lat_A)
    radLat2 = radians(Lat_B)
    a=radLat1-radLat2
    b=radians(Lng_A)-radians(Lng_B)
 
    s = 2 * asin(sqrt(pow(sin(a/2),2)+cos(radLat1)*cos(radLat2)*pow(sin(b/2),2)));  
    s = s * EARTH_RADIUS/1.6;   
    return s

In [33]:
from math import *
data_long = list(data['PROPERTY_LONGITUDE'])
data_lat = list(data['PROPERTY_LATITUDE'])
stb_long = list(local_law_enforcement['LONGITUDE'])
stb_lat = list(local_law_enforcement['LATITUDE'])
# visits = list(school['Total Visits'])
number = []
#number_visits = []
i=0
for a,b in zip(data_lat,data_long):
    n = 0
#     total_number_visit = 0
    p = 0 #position
    total_number = 0
    for c,d in zip(stb_lat,stb_long):
        dis = calcDistance(a,b,c,d)
        if dis <= 2:
            n = n+1
#             total_number = total_number+visits[p]
            p = p+1
        else:
            n = n
            p = p+1
    i = i+1
    number.append(n)
#     number_visits.append(total_number)
    if i % 100 ==0:
        print(i)
number
# number_visits

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000
10100
10200
10300
10400
10500
10600
10700
10800

[1,
 3,
 2,
 6,
 1,
 1,
 3,
 5,
 2,
 3,
 1,
 2,
 1,
 2,
 2,
 3,
 5,
 1,
 2,
 1,
 0,
 3,
 2,
 4,
 1,
 0,
 0,
 2,
 1,
 0,
 1,
 2,
 0,
 1,
 0,
 1,
 1,
 3,
 0,
 1,
 4,
 0,
 1,
 2,
 1,
 0,
 3,
 4,
 3,
 0,
 0,
 0,
 2,
 0,
 1,
 1,
 0,
 3,
 2,
 0,
 0,
 0,
 2,
 2,
 1,
 0,
 2,
 7,
 4,
 2,
 0,
 1,
 1,
 3,
 1,
 1,
 3,
 2,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 2,
 2,
 2,
 0,
 1,
 0,
 2,
 2,
 2,
 4,
 2,
 0,
 1,
 0,
 0,
 0,
 0,
 6,
 1,
 4,
 0,
 0,
 3,
 3,
 3,
 3,
 3,
 1,
 2,
 6,
 4,
 1,
 1,
 1,
 1,
 4,
 1,
 1,
 3,
 0,
 1,
 4,
 0,
 0,
 0,
 2,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 2,
 1,
 1,
 2,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 2,
 2,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 2,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 2,
 3,
 3,
 0,
 1,
 3,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 2,
 3,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 3,
 1,
 0,
 0,
 0,
 0,
 2,
 0,
 1,
 4,
 1,
 1,
 0,
 4,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 2,
 0,
 0,
 0,
 0,
 1,
 3,
 2,
 0,
 0,
 2,
 2,
 1,
 0,
 0,
 0,
 3,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 2,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 3,
 1,
 2,
 1,
 5,
 2,
 2,
 1,
 4,
 2,
 2,
 2,
 0,
 4,
 2,
 2,
 2,
 1,
 1,
 2,
 3,
 3,
 0,
 1,
 1,
 0,
 0,
 1,
 2,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 2,
 3,
 2,
 0,
 1,
 0,
 0,
 0,
 2,
 3,
 1,
 0,
 1,
 1,
 0,
 0,
 4,
 5,
 0,
 0,
 0,
 0,
 6,
 0,
 7,
 1,
 3,
 1,
 5,
 0,
 3,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 2,
 0,
 0,
 0,
 0,
 2,
 3,
 1,
 2,
 1,
 1,
 4,
 3,
 2,
 1,
 4,
 2,
 0,
 2,
 5,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 3,
 2,
 4,
 2,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 2,
 0,
 2,
 0,
 0,
 2,
 0,
 0,
 1,
 0,
 1,
 2,
 0,
 1,
 0,
 3,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 3,
 2,
 1,
 0,
 2,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 2,
 1,
 2,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 0,
 1,
 1,
 3,
 2,
 1,
 0,
 2,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 2,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 2,
 3,
 1,
 2,
 1,
 0,
 4,
 3,
 1,
 1,
 2,
 5,
 0,
 0,
 4,
 2,
 2,
 1,
 2,
 1,
 5,
 4,
 1,
 1,
 0,
 3,
 2,
 3,
 0,
 2,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 2,
 1,
 0,
 1,
 1,
 2,
 1,
 0,
 1,
 6,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 3,
 0,
 3,
 2,
 0,
 3,
 3,
 0,
 2,
 0,
 2,
 3,
 5,
 0,
 0,
 4,
 5,
 2,
 1,
 3,
 4,
 6,
 4,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 3,
 4,
 2,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 2,
 2,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 2,
 0,
 0,
 0,
 2,
 0,
 0,
 2,
 2,
 2,
 3,
 1,
 2,
 0,
 3,
 3,
 3,
 3,
 3,
 2,
 2,
 0,
 2,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 2,
 1,
 2,
 2,
 0,
 0,
 0,
 0,
 2,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 2,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 0,
 0,
 0,
 2,
 3,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 2,
 0,
 0,
 2,
 5,
 1,
 2,
 0,
 3,
 2,
 3,
 2,
 0,
 1,
 0,
 3,
 4,
 2,
 2,
 2,
 0,
 0,
 1,
 0,
 2,
 1,
 1,
 0,
 0,
 0,
 4,
 1,
 1,
 3,
 0,
 0,
 0,
 2,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 2,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 5,
 0,
 2,
 7,
 3,
 1,
 3,
 1,
 4,
 1,
 6,
 0,
 4,
 5,
 4,
 1,
 4,
 5,
 1,
 1,
 1,
 5,
 1,
 1,
 4,
 0,
 1,
 1,
 3,
 1,
 2,
 2,
 0,
 5,
 1,
 1,
 6,
 4,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 4,
 1,
 4,
 2,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 3,
 1,
 0,
 2,
 2,
 4,
 3,
 1,
 1,
 0,
 1,
 0,
 1,
 4,
 1,
 0,
 1,
 2,
 0,
 0,
 0,
 2,
 0,
 2,
 1,
 1,
 3,
 3,
 1,
 3,
 3,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 ...]

In [34]:
data['num_of_law_enforcement'] = number
# data['annual_visits'] = number_visits
data.head()

,Unnamed: 0,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,...,PROPERTY_CURRENT_RENT,PROPERTY_MATRIX_URL,current_rent_sqft,state_code,county_code,census_tract,block_group,census_code,num_of_school,num_of_law_enforcement
0,0,15_1028,15,Miami,18.0,Hialeah,Miami-Dade,Blackstone,NaN,3699 West 12th Avenue,...,1135.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2.183797,12,86,720,1,120860007201,50,1
1,1,15_1202301,15,Miami,20.0,Opa-locka,Miami-Dade,Providence,"Pinks, The",13300 Alexandria Drive,...,1482.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2.096346,12,86,508,1,120860005081,22,3
2,2,15_1218,15,Miami,23.0,North Miami Beach,Miami-Dade,Waterview,NaN,1720 South Glades Drive,...,1471.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2.001361,12,86,225,2,120860002252,28,2
3,3,15_132,15,Miami,5.0,Miami - Overtown,Miami-Dade,Manhattan,NaN,560 NW 7th Street,...,978.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,1.539484,12,86,3607,2,120860036072,58,6
4,4,15_1430,15,Miami,18.0,Hialeah,Miami-Dade,Curbelo & Sons,Zuvelo & Son,6151 West 24th Avenue,...,1156.0,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,1.798683,12,86,13500,2,120860135002,54,1

In [35]:
# data.to_excel('num_Law_Enforcement.xlsx')

# Fast Food Resturant

In [36]:
import pandas as pd

In [37]:
fast_food = pd.read_csv('Datafiniti_Fast_Food_Restaurants_Jun19.csv')
fast_food.head()

,id,dateAdded,dateUpdated,address,categories,primaryCategories,city,country,keys,latitude,longitude,name,postalCode,province,sourceURLs,websites
0,AWrSh_KgsVYjT2BJAzaH,2019-05-19T23:58:05Z,2019-05-19T23:58:05Z,2555 11th Avenue,"Fast Food Restaurants,Hamburgers and Hot Dogs,...",Accommodation & Food Services,Greeley,US,us/co/greeley/255511thavenue/554191587,40.39629,-104.69699,Carl's Jr.,80631,CO,https://www.yellowpages.com/greeley-co/mip/car...,https://www.carlsjr.com/?utm_source=Yextandutm...
1,AWEKlA-LIxWefVJwxG9B,2018-01-18T18:30:23Z,2019-05-19T23:45:05Z,2513 Highway 6 And 50,"Restaurant,Mexican Restaurants,Fast Food Resta...",Accommodation & Food Services,Grand Junction,US,us/co/grandjunction/2513highway6and50/1550891556,39.08135,-108.58689,Del Taco,81505,CO,http://www.citysearch.com/profile/772076870/gr...,http://www.deltaco.com
2,AWrSfAcYsVYjT2BJAzPt,2019-05-19T23:45:04Z,2019-05-19T23:45:04Z,1125 Patterson Road,"Sandwich Shops,Fast Food Restaurants,Restauran...",Accommodation & Food Services,Grand Junction,US,us/co/grandjunction/1125pattersonroad/-2137447852,39.09148,-108.55411,Which Wich,81506,CO,https://www.yellowpages.com/grand-junction-co/...,http://www.whichwich.com
3,AWrSa3NAQTFama1Xpkbz,2019-05-19T23:26:58Z,2019-05-19T23:26:58Z,3455 N Salida Court,"Fast Food Restaurants,Mexican Restaurants,Rest...",Accommodation & Food Services,Aurora,US,us/co/aurora/3455nsalidacourt/1143321601,39.76369,-104.77671,Chipotle Mexican Grill,80011,CO,https://www.yellowpages.com/aurora-co/mip/chip...,http://www.chipotle.com
4,AWrSaVGzZ4Yw-wtdgcaB,2019-05-19T23:24:38Z,2019-05-19T23:24:38Z,5225 E Colfax Avenue,"Fast Food Restaurants,Mexican Restaurants,Rest...",Accommodation & Food Services,Denver,US,us/co/denver/5225ecolfaxavenue/-864103396,39.74044,-104.92636,Taco Bell,80220,CO,https://www.yellowpages.com/denver-co/mip/taco...,https://locations.tacobell.com/co/denver/5225-...

In [38]:
fast_food.shape

(10000, 16)

In [39]:
fast_food.columns

Index(['id', 'dateAdded', 'dateUpdated', 'address', 'categories',
       'primaryCategories', 'city', 'country', 'keys', 'latitude', 'longitude',
       'name', 'postalCode', 'province', 'sourceURLs', 'websites'],
      dtype='object')

In [40]:
fast_food['categories']

0       Fast Food Restaurants,Hamburgers and Hot Dogs,...
1       Restaurant,Mexican Restaurants,Fast Food Resta...
2       Sandwich Shops,Fast Food Restaurants,Restauran...
3       Fast Food Restaurants,Mexican Restaurants,Rest...
4       Fast Food Restaurants,Mexican Restaurants,Rest...
                              ...
9995    American Restaurants,Caterers,Soul Food Restau...
9996    Mexican Restaurants,Caterers,Delicatessens,Iri...
9997    Carry-out food,Hot dog restaurants,Fast Food R...
9998    Carry-out food,Caterers,Restaurant delivery se...
9999                     Fast Food Restaurant,Restaurants
Name: categories, Length: 10000, dtype: object

In [41]:
fast_food['primaryCategories'].value_counts()

Accommodation & Food Services    10000
Name: primaryCategories, dtype: int64

In [42]:
fast_food['country'].value_counts()

US    10000
Name: country, dtype: int64

In [43]:
#change province to state for clearity
fast_food.rename(columns = {'province':'State'}, inplace = True)

In [44]:
fast_food = fast_food[['city','country','latitude','longitude','name','postalCode','State']]
fast_food.head()

,city,country,latitude,longitude,name,postalCode,State
0,Greeley,US,40.39629,-104.69699,Carl's Jr.,80631,CO
1,Grand Junction,US,39.08135,-108.58689,Del Taco,81505,CO
2,Grand Junction,US,39.09148,-108.55411,Which Wich,81506,CO
3,Aurora,US,39.76369,-104.77671,Chipotle Mexican Grill,80011,CO
4,Denver,US,39.74044,-104.92636,Taco Bell,80220,CO

In [45]:
fast_food['latitude'].isnull().sum()

0

In [46]:
fast_food['longitude'].isnull().sum()

0

In [47]:
def calcDistance(Lat_A, Lng_A, Lat_B, Lng_B):
    EARTH_RADIUS = 6378.137
    radLat1 = radians(Lat_A)
    radLat2 = radians(Lat_B)
    a=radLat1-radLat2
    b=radians(Lng_A)-radians(Lng_B)
 
    s = 2 * asin(sqrt(pow(sin(a/2),2)+cos(radLat1)*cos(radLat2)*pow(sin(b/2),2)));  
    s = s * EARTH_RADIUS/1.6;   
    return s

In [48]:
from math import *
data_long = list(data['PROPERTY_LONGITUDE'])
data_lat = list(data['PROPERTY_LATITUDE'])
stb_long = list(fast_food['longitude'])
stb_lat = list(fast_food['latitude'])
# visits = list(school['Total Visits'])
number = []
#number_visits = []
i=0
for a,b in zip(data_lat,data_long):
    n = 0
#     total_number_visit = 0
    p = 0 #position
    total_number = 0
    for c,d in zip(stb_lat,stb_long):
        dis = calcDistance(a,b,c,d)
        if dis <= 1:
            n = n+1
#             total_number = total_number+visits[p]
            p = p+1
        else:
            n = n
            p = p+1
    i = i+1
    number.append(n)
#     number_visits.append(total_number)
    if i % 100 ==0:
        print(i)
number
# number_visits

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000
10100
10200
10300
10400
10500
10600
10700
10800

[1,
 0,
 1,
 0,
 2,
 2,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 2,
 0,
 0,
 3,
 0,
 4,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 3,
 0,
 0,
 3,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 3,
 1,
 2,
 3,
 0,
 3,
 4,
 3,
 1,
 0,
 1,
 0,
 0,
 0,
 3,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 4,
 0,
 0,
 0,
 0,
 3,
 1,
 2,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 4,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 2,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 2,
 0,
 1,
 1,
 2,
 1,
 1,
 1,
 0,
 2,
 1,
 4,
 0,
 1,
 0,
 0,
 2,
 0,
 0,
 3,
 1,
 4,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 3,
 2,
 0,
 2,
 0,
 1,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 2,
 0,
 0,
 1,
 2,
 0,
 0,
 0,
 2,
 0,
 1,
 0,
 2,
 1,
 0,
 0,
 0,
 2,
 0,
 1,
 1,
 0,
 1,
 2,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 3,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 4,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 2,
 0,
 0,
 2,
 0,
 1,
 0,
 1,
 0,
 0,
 2,
 0,
 1,
 1,
 0,
 0,
 2,
 1,
 0,
 3,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 2,
 1,
 0,
 0,
 1,
 0,
 0,
 2,
 0,
 1,
 0,
 0,
 2,
 4,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 2,
 2,
 0,
 1,
 0,
 3,
 2,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 2,
 0,
 0,
 2,
 1,
 0,
 1,
 2,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 4,
 0,
 4,
 3,
 0,
 0,
 0,
 3,
 0,
 0,
 1,
 1,
 0,
 1,
 4,
 2,
 2,
 1,
 0,
 2,
 0,
 3,
 0,
 0,
 5,
 0,
 0,
 2,
 0,
 3,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 4,
 3,
 1,
 1,
 3,
 0,
 2,
 2,
 2,
 0,
 0,
 2,
 1,
 1,
 0,
 0,
 2,
 0,
 0,
 1,
 0,
 0,
 0,
 2,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 2,
 2,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 1,
 1,
 3,
 0,
 3,
 1,
 0,
 2,
 4,
 2,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 4,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 2,
 1,
 2,
 0,
 2,
 1,
 0,
 0,
 1,
 2,
 0,
 0,
 0,
 0,
 1,
 2,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 1,
 2,
 1,
 0,
 1,
 0,
 2,
 3,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 3,
 4,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 2,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 0,
 2,
 0,
 1,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 2,
 0,
 0,
 2,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 2,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 0,
 0,
 1,
 3,
 1,
 2,
 1,
 9,
 1,
 9,
 0,
 2,
 0,
 0,
 0,
 3,
 2,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 2,
 2,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 2,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 2,
 0,
 0,
 1,
 1,
 2,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 3,
 1,
 1,
 2,
 1,
 2,
 0,
 0,
 2,
 0,
 0,
 3,
 2,
 2,
 0,
 0,
 0,
 4,
 3,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 2,
 1,
 0,
 0,
 3,
 1,
 3,
 3,
 1,
 1,
 0,
 1,
 0,
 3,
 1,
 0,
 2,
 0,
 4,
 1,
 0,
 0,
 2,
 0,
 5,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 2,
 1,
 0,
 0,
 3,
 0,
 0,
 5,
 0,
 1,
 0,
 0,
 1,
 3,
 0,
 0,
 0,
 1,
 0,
 ...]

In [49]:
data['num_of_fast_food'] = number
# data['annual_visits'] = number_visits
data.head()

,Unnamed: 0,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,...,PROPERTY_MATRIX_URL,current_rent_sqft,state_code,county_code,census_tract,block_group,census_code,num_of_school,num_of_law_enforcement,num_of_fast_food
0,0,15_1028,15,Miami,18.0,Hialeah,Miami-Dade,Blackstone,NaN,3699 West 12th Avenue,...,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2.183797,12,86,720,1,120860007201,50,1,1
1,1,15_1202301,15,Miami,20.0,Opa-locka,Miami-Dade,Providence,"Pinks, The",13300 Alexandria Drive,...,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2.096346,12,86,508,1,120860005081,22,3,0
2,2,15_1218,15,Miami,23.0,North Miami Beach,Miami-Dade,Waterview,NaN,1720 South Glades Drive,...,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,2.001361,12,86,225,2,120860002252,28,2,1
3,3,15_132,15,Miami,5.0,Miami - Overtown,Miami-Dade,Manhattan,NaN,560 NW 7th Street,...,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,1.539484,12,86,3607,2,120860036072,58,6,0
4,4,15_1430,15,Miami,18.0,Hialeah,Miami-Dade,Curbelo & Sons,Zuvelo & Son,6151 West 24th Avenue,...,matrix.pi-ei.com/PropertyDetail/All?MarketID=1...,1.798683,12,86,13500,2,120860135002,54,1,2

In [50]:
# data.to_excel('num_fast_food.xlsx')

# Farmer's Markets

In [51]:
import pandas as pd

In [52]:
market = pd.read_csv("Farmer's Markets.csv")
market.head()

,FMID,MarketName,Website,Facebook,Twitter,Youtube,OtherMedia,street,city,County,...,Coffee,Beans,Fruits,Grains,Juices,Mushrooms,PetFood,Tofu,WildHarvested,updateTime
0,1000001,Shelby Food and Craft Market,NaN,NaN,NaN,NaN,NaN,City Hall park,Shelby,Toole,...,N,N,N,N,N,N,N,N,N,2009
1,1000003,Edmore Farmers Market,http://www.Edmore.org,https://www.facebook.com/EdmoreFarmersMarket,https://Twitter.com/edmoremarket,NaN,NaN,Corner of Lewis Street and Pine Street,Edmore,Montcalm,...,N,N,Y,N,N,N,N,N,N,3/14/14 11:06
2,1000006,Westwood Village Farmers Market,http://www.westwoodonline.com,NaN,NaN,NaN,NaN,Weyburn Ave. & Westwood Blvd.,Los Angeles,Los Angeles,...,N,N,N,N,N,N,N,N,N,2009
3,1000007,Santa Barbara La Cumbre Farmers Market,http://www.sbfarmersmarket.org,NaN,NaN,NaN,NaN,110 South Hope Avenue,Santa Barbara,Santa Barbara,...,N,N,N,N,N,N,N,N,N,2009
4,1000008,Montrose Farmers Market,http://www.montrosefarmersmarket.com,https://www.facebook.com/MontroseFarmersMarket,NaN,NaN,NaN,Main St. and Uncompahgre Ave.,Montrose,Montrose,...,Y,Y,Y,N,N,Y,Y,N,N,6/27/16 13:22

In [53]:
market.shape

(8734, 59)

In [54]:
market.columns

Index(['FMID', 'MarketName', 'Website', 'Facebook', 'Twitter', 'Youtube',
       'OtherMedia', 'street', 'city', 'County', 'State', 'zip', 'Season1Date',
       'Season1Time', 'Season2Date', 'Season2Time', 'Season3Date',
       'Season3Time', 'Season4Date', 'Season4Time', 'x', 'y', 'Location',
       'Credit', 'WIC', 'WICcash', 'SFMNP', 'SNAP', 'Organic', 'Bakedgoods',
       'Cheese', 'Crafts', 'Flowers', 'Eggs', 'Seafood', 'Herbs', 'Vegetables',
       'Honey', 'Jams', 'Maple', 'Meat', 'Nursery', 'Nuts', 'Plants',
       'Poultry', 'Prepared', 'Soap', 'Trees', 'Wine', 'Coffee', 'Beans',
       'Fruits', 'Grains', 'Juices', 'Mushrooms', 'PetFood', 'Tofu',
       'WildHarvested', 'updateTime'],
      dtype='object')

In [55]:
market = market[['MarketName','street','city','County','State','zip', 'x','y']]
market.head()

,MarketName,street,city,County,State,zip,x,y
0,Shelby Food and Craft Market,City Hall park,Shelby,Toole,Montana,59474,-111.856000,48.504100
1,Edmore Farmers Market,Corner of Lewis Street and Pine Street,Edmore,Montcalm,Michigan,48829,-85.037581,43.406049
2,Westwood Village Farmers Market,Weyburn Ave. & Westwood Blvd.,Los Angeles,Los Angeles,California,90024,-118.445000,34.062600
3,Santa Barbara La Cumbre Farmers Market,110 South Hope Avenue,Santa Barbara,Santa Barbara,California,93101,-119.747000,34.437800
4,Montrose Farmers Market,Main St. and Uncompahgre Ave.,Montrose,Montrose,Colorado,81401,-107.875667,38.480239

In [56]:
market['x'].isnull().sum()

29

In [57]:
market['y'].isnull().sum()

29

In [58]:
unavailable_data = market['x'].isnull()
unavailable_data = pd.DataFrame(unavailable_data)
unavailable_data = unavailable_data[unavailable_data.any(axis=1)]
unavailable_data.index

Int64Index([1847, 7093, 8707, 8708, 8709, 8710, 8711, 8712, 8713, 8714, 8715,
            8716, 8717, 8718, 8719, 8720, 8721, 8722, 8723, 8724, 8725, 8726,
            8727, 8728, 8729, 8730, 8731, 8732, 8733],
           dtype='int64')

In [59]:
market.drop(index=[1847, 7093, 8707, 8708, 8709, 8710, 8711, 8712, 8713, 8714, 8715,
            8716, 8717, 8718, 8719, 8720, 8721, 8722, 8723, 8724, 8725, 8726,
            8727, 8728, 8729, 8730, 8731, 8732, 8733], inplace=True)

In [60]:
market[['x','y']].isnull().sum()

x    0
y    0
dtype: int64

In [61]:
market.shape

(8705, 8)

In [62]:
def calcDistance(Lat_A, Lng_A, Lat_B, Lng_B):
    EARTH_RADIUS = 6378.137
    radLat1 = radians(Lat_A)
    radLat2 = radians(Lat_B)
    a=radLat1-radLat2
    b=radians(Lng_A)-radians(Lng_B)
 
    s = 2 * asin(sqrt(pow(sin(a/2),2)+cos(radLat1)*cos(radLat2)*pow(sin(b/2),2)));  
    s = s * EARTH_RADIUS/1.6;   
    return s

In [63]:
from math import *
data_long = list(data['PROPERTY_LONGITUDE'])
data_lat = list(data['PROPERTY_LATITUDE'])
stb_long = list(market['x'])
stb_lat = list(market['y'])
# visits = list(school['Total Visits'])
number = []
#number_visits = []
i=0
for a,b in zip(data_lat,data_long):
    n = 0
#     total_number_visit = 0
    p = 0 #position
    total_number = 0
    for c,d in zip(stb_lat,stb_long):
        dis = calcDistance(a,b,c,d)
        if dis <= 3:
            n = n+1
#             total_number = total_number+visits[p]
            p = p+1
        else:
            n = n
            p = p+1
    i = i+1
    number.append(n)
#     number_visits.append(total_number)
    if i % 100 ==0:
        print(i)
number
# number_visits

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000
10100
10200
10300
10400
10500
10600
10700
10800

[0,
 1,
 2,
 3,
 0,
 0,
 0,
 5,
 3,
 0,
 5,
 4,
 0,
 0,
 3,
 1,
 3,
 5,
 3,
 3,
 1,
 1,
 3,
 2,
 1,
 3,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 2,
 0,
 0,
 0,
 2,
 0,
 1,
 0,
 1,
 4,
 2,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 3,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 5,
 4,
 5,
 4,
 1,
 0,
 0,
 3,
 0,
 0,
 0,
 1,
 1,
 1,
 2,
 0,
 0,
 1,
 2,
 0,
 0,
 0,
 2,
 3,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 1,
 0,
 0,
 0,
 4,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 8,
 6,
 4,
 0,
 3,
 5,
 0,
 0,
 0,
 0,
 2,
 1,
 1,
 0,
 3,
 2,
 1,
 2,
 0,
 2,
 0,
 2,
 2,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 2,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 2,
 0,
 0,
 0,
 0,
 2,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 2,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 2,
 0,
 1,
 0,
 6,
 5,
 0,
 2,
 2,
 0,
 0,
 0,
 6,
 0,
 0,
 4,
 6,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 2,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 3,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 1,
 2,
 1,
 0,
 1,
 0,
 2,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 0,
 2,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 2,
 2,
 1,
 1,
 1,
 1,
 8,
 4,
 0,
 0,
 0,
 0,
 0,
 5,
 0,
 4,
 5,
 4,
 3,
 1,
 5,
 0,
 0,
 0,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 2,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 2,
 0,
 3,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 3,
 1,
 1,
 2,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 2,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 3,
 1,
 0,
 0,
 1,
 3,
 0,
 1,
 3,
 1,
 1,
 0,
 1,
 1,
 2,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 3,
 1,
 2,
 1,
 0,
 0,
 0,
 1,
 2,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 3,
 2,
 1,
 2,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 4,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 3,
 0,
 1,
 0,
 1,
 0,
 0,
 2,
 0,
 1,
 1,
 2,
 0,
 2,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 5,
 0,
 0,
 0,
 4,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 3,
 4,
 3,
 3,
 3,
 0,
 1,
 1,
 1,
 0,
 3,
 0,
 0,
 0,
 0,
 1,
 7,
 7,
 0,
 0,
 0,
 2,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 1,
 1,
 2,
 2,
 0,
 1,
 0,
 2,
 2,
 3,
 3,
 3,
 2,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 2,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 3,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 4,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 2,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 3,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 2,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 2,
 0,
 1,
 0,
 2,
 0,
 0,
 2,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 2,
 0,
 1,
 0,
 0,
 2,
 2,
 0,
 2,
 1,
 0,
 0,
 0,
 2,
 1,
 0,
 0,
 0,
 4,
 0,
 0,
 0,
 4,
 3,
 3,
 1,
 3,
 4,
 3,
 0,
 5,
 3,
 0,
 3,
 2,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 3,
 3,
 0,
 2,
 2,
 1,
 0,
 0,
 3,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 3,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 2,
 2,
 0,
 1,
 0,
 2,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 2,
 3,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 2,
 0,
 0,
 0,
 2,
 1,
 0,
 0,
 ...]

In [64]:
data['num_of_market'] = number
# data['annual_visits'] = number_visits
data.head()

,Unnamed: 0,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,...,current_rent_sqft,state_code,county_code,census_tract,block_group,census_code,num_of_school,num_of_law_enforcement,num_of_fast_food,num_of_market
0,0,15_1028,15,Miami,18.0,Hialeah,Miami-Dade,Blackstone,NaN,3699 West 12th Avenue,...,2.183797,12,86,720,1,120860007201,50,1,1,0
1,1,15_1202301,15,Miami,20.0,Opa-locka,Miami-Dade,Providence,"Pinks, The",13300 Alexandria Drive,...,2.096346,12,86,508,1,120860005081,22,3,0,1
2,2,15_1218,15,Miami,23.0,North Miami Beach,Miami-Dade,Waterview,NaN,1720 South Glades Drive,...,2.001361,12,86,225,2,120860002252,28,2,1,2
3,3,15_132,15,Miami,5.0,Miami - Overtown,Miami-Dade,Manhattan,NaN,560 NW 7th Street,...,1.539484,12,86,3607,2,120860036072,58,6,0,3
4,4,15_1430,15,Miami,18.0,Hialeah,Miami-Dade,Curbelo & Sons,Zuvelo & Son,6151 West 24th Avenue,...,1.798683,12,86,13500,2,120860135002,54,1,2,0

In [65]:
# data.to_excel('num_market.xlsx')

# Hospital Location

In [66]:
import pandas as pd

In [67]:
hospital = pd.read_csv('hospital_locations.csv')
hospital.head()

,X,Y,OBJECTID,ID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,...,VAL_DATE,WEBSITE,STATE_ID,ALT_NAME,ST_FIPS,OWNER,TTL_STAFF,BEDS,TRAUMA,HELIPAD
0,-1.331889e+07,4.346975e+06,1,5793230,CENTRAL VALLEY GENERAL HOSPITAL,1025 NORTH DOUTY STREET,HANFORD,CA,93230,NOT AVAILABLE,...,2014/02/10 00:00:00+00,http://www.hanfordhealth.com,NOT AVAILABLE,NOT AVAILABLE,6,PROPRIETARY,-999,49,NOT AVAILABLE,N
1,-1.322651e+07,4.049626e+06,2,53391362,LOS ROBLES HOSPITAL & MEDICAL CENTER - EAST CA...,150 VIA MERIDA,WESTLAKE VILAGE,CA,91362,NOT AVAILABLE,...,2014/02/10 00:00:00+00,http://www.losrobleshospital.com,NOT AVAILABLE,NOT AVAILABLE,6,PROPRIETARY,-999,62,NOT AVAILABLE,N
2,-1.315620e+07,4.031978e+06,3,11190023,EAST LOS ANGELES DOCTORS HOSPITAL,4060 WHITTIER BOULEVARD,LOS ANGELES,CA,90023,NOT AVAILABLE,...,2014/02/10 00:00:00+00,http://www.elalax.com,NOT AVAILABLE,NOT AVAILABLE,6,PROPRIETARY,-999,127,NOT AVAILABLE,N
3,-1.317190e+07,4.041752e+06,4,17090028,SOUTHERN CALIFORNIA HOSPITAL AT HOLLYWOOD,6245 DE LONGPRE AVENUE,HOLLYWOOD,CA,90028,NOT AVAILABLE,...,2014/02/10 00:00:00+00,http://sch-hollywood.com/,NOT AVAILABLE,HOLLYWOOD COMMUNITY HOSPITAL OF HOLLYWOOD,6,PROPRIETARY,-999,100,NOT AVAILABLE,N
4,-1.313208e+07,4.037270e+06,5,23691706,KINDRED HOSPITAL BALDWIN PARK,14148 FRANCISQUITO AVENUE,BALDWIN PARK,CA,91706,NOT AVAILABLE,...,2014/02/10 00:00:00+00,http://www.khbaldwinpark.com,NOT AVAILABLE,NOT AVAILABLE,6,PROPRIETARY,-999,95,NOT AVAILABLE,N

In [68]:
hospital.shape

(7596, 34)

In [69]:
hospital.columns

Index(['X', 'Y', 'OBJECTID', 'ID', 'NAME', 'ADDRESS', 'CITY', 'STATE', 'ZIP',
       'ZIP4', 'TELEPHONE', 'TYPE', 'STATUS', 'POPULATION', 'COUNTY',
       'COUNTYFIPS', 'COUNTRY', 'LATITUDE', 'LONGITUDE', 'NAICS_CODE',
       'NAICS_DESC', 'SOURCE', 'SOURCEDATE', 'VAL_METHOD', 'VAL_DATE',
       'WEBSITE', 'STATE_ID', 'ALT_NAME', 'ST_FIPS', 'OWNER', 'TTL_STAFF',
       'BEDS', 'TRAUMA', 'HELIPAD'],
      dtype='object')

In [70]:
hospital = hospital[['NAME', 'ADDRESS', 'CITY', 'STATE', 'ZIP','STATUS','COUNTY','LATITUDE','LONGITUDE']]
hospital.head()

,NAME,ADDRESS,CITY,STATE,ZIP,STATUS,COUNTY,LATITUDE,LONGITUDE
0,CENTRAL VALLEY GENERAL HOSPITAL,1025 NORTH DOUTY STREET,HANFORD,CA,93230,CLOSED,KINGS,36.336159,-119.645667
1,LOS ROBLES HOSPITAL & MEDICAL CENTER - EAST CA...,150 VIA MERIDA,WESTLAKE VILAGE,CA,91362,OPEN,VENTURA,34.154939,-118.815736
2,EAST LOS ANGELES DOCTORS HOSPITAL,4060 WHITTIER BOULEVARD,LOS ANGELES,CA,90023,OPEN,LOS ANGELES,34.023647,-118.184165
3,SOUTHERN CALIFORNIA HOSPITAL AT HOLLYWOOD,6245 DE LONGPRE AVENUE,HOLLYWOOD,CA,90028,OPEN,LOS ANGELES,34.096391,-118.325235
4,KINDRED HOSPITAL BALDWIN PARK,14148 FRANCISQUITO AVENUE,BALDWIN PARK,CA,91706,OPEN,LOS ANGELES,34.063039,-117.967438

In [71]:
hospital.isnull().sum()

NAME         0
ADDRESS      0
CITY         0
STATE        0
ZIP          0
STATUS       0
COUNTY       0
LATITUDE     0
LONGITUDE    0
dtype: int64

In [72]:
hospital['STATUS'].value_counts()

OPEN      7277
CLOSED     319
Name: STATUS, dtype: int64

In [73]:
hospital.drop(hospital[hospital['STATUS'] == 'CLOSED'].index, inplace = True)
hospital['STATUS'].value_counts()

OPEN    7277
Name: STATUS, dtype: int64

In [74]:
def calcDistance(Lat_A, Lng_A, Lat_B, Lng_B):
    EARTH_RADIUS = 6378.137
    radLat1 = radians(Lat_A)
    radLat2 = radians(Lat_B)
    a=radLat1-radLat2
    b=radians(Lng_A)-radians(Lng_B)
 
    s = 2 * asin(sqrt(pow(sin(a/2),2)+cos(radLat1)*cos(radLat2)*pow(sin(b/2),2)));  
    s = s * EARTH_RADIUS/1.6;   
    return s

In [75]:
from math import *
data_long = list(data['PROPERTY_LONGITUDE'])
data_lat = list(data['PROPERTY_LATITUDE'])
stb_long = list(hospital['LONGITUDE'])
stb_lat = list(hospital['LATITUDE'])
# visits = list(school['Total Visits'])
number = []
#number_visits = []
i=0
for a,b in zip(data_lat,data_long):
    n = 0
#     total_number_visit = 0
    p = 0 #position
    total_number = 0
    for c,d in zip(stb_lat,stb_long):
        dis = calcDistance(a,b,c,d)
        if dis <= 2:
            n = n+1
#             total_number = total_number+visits[p]
            p = p+1
        else:
            n = n
            p = p+1
    i = i+1
    number.append(n)
#     number_visits.append(total_number)
    if i % 100 ==0:
        print(i)
number
# number_visits

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000
10100
10200
10300
10400
10500
10600
10700
10800

[2,
 0,
 0,
 7,
 5,
 5,
 0,
 7,
 2,
 0,
 3,
 0,
 3,
 1,
 1,
 0,
 7,
 1,
 2,
 1,
 1,
 2,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 2,
 0,
 0,
 0,
 1,
 0,
 3,
 2,
 0,
 2,
 0,
 1,
 5,
 0,
 1,
 0,
 2,
 5,
 2,
 1,
 1,
 1,
 1,
 0,
 1,
 2,
 1,
 0,
 1,
 5,
 0,
 1,
 0,
 2,
 1,
 1,
 3,
 7,
 5,
 0,
 1,
 0,
 1,
 5,
 0,
 1,
 1,
 2,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 3,
 2,
 1,
 1,
 1,
 3,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 1,
 1,
 1,
 4,
 4,
 0,
 0,
 0,
 1,
 7,
 0,
 0,
 0,
 0,
 2,
 0,
 1,
 0,
 3,
 2,
 1,
 0,
 0,
 5,
 1,
 2,
 0,
 1,
 6,
 0,
 0,
 0,
 1,
 0,
 1,
 3,
 0,
 0,
 0,
 3,
 1,
 0,
 2,
 0,
 1,
 1,
 1,
 1,
 1,
 2,
 0,
 1,
 0,
 0,
 0,
 1,
 3,
 1,
 1,
 0,
 2,
 1,
 0,
 0,
 0,
 2,
 1,
 2,
 0,
 1,
 0,
 2,
 0,
 0,
 0,
 0,
 3,
 2,
 3,
 0,
 3,
 0,
 1,
 0,
 1,
 1,
 3,
 0,
 2,
 3,
 0,
 0,
 0,
 1,
 2,
 5,
 0,
 2,
 0,
 2,
 3,
 0,
 0,
 3,
 4,
 2,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 5,
 0,
 0,
 0,
 1,
 5,
 0,
 0,
 0,
 0,
 0,
 5,
 0,
 0,
 1,
 5,
 0,
 1,
 6,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 2,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 3,
 0,
 1,
 2,
 2,
 1,
 2,
 0,
 1,
 0,
 0,
 2,
 2,
 2,
 0,
 3,
 3,
 2,
 1,
 3,
 1,
 1,
 1,
 0,
 3,
 1,
 0,
 3,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 3,
 1,
 0,
 5,
 1,
 0,
 1,
 6,
 1,
 2,
 2,
 0,
 0,
 0,
 1,
 0,
 3,
 3,
 5,
 2,
 3,
 0,
 2,
 1,
 3,
 0,
 7,
 0,
 0,
 1,
 0,
 7,
 1,
 8,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 3,
 0,
 2,
 1,
 1,
 1,
 5,
 0,
 0,
 1,
 5,
 2,
 0,
 2,
 5,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 5,
 2,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 2,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 5,
 0,
 0,
 0,
 1,
 2,
 1,
 1,
 3,
 1,
 2,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 2,
 0,
 2,
 0,
 0,
 1,
 0,
 2,
 2,
 4,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 3,
 0,
 1,
 0,
 1,
 1,
 2,
 3,
 1,
 1,
 3,
 1,
 0,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 3,
 0,
 0,
 1,
 1,
 4,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 5,
 0,
 3,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 5,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 7,
 1,
 0,
 0,
 0,
 0,
 2,
 6,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 5,
 5,
 3,
 0,
 1,
 0,
 0,
 1,
 0,
 6,
 6,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 4,
 3,
 2,
 1,
 0,
 3,
 0,
 1,
 1,
 1,
 1,
 1,
 2,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 2,
 2,
 2,
 1,
 1,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 1,
 0,
 2,
 0,
 1,
 0,
 2,
 1,
 0,
 2,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 3,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 2,
 0,
 1,
 1,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 3,
 0,
 1,
 1,
 1,
 0,
 0,
 2,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 2,
 0,
 3,
 0,
 0,
 0,
 0,
 0,
 3,
 1,
 1,
 0,
 1,
 1,
 1,
 3,
 1,
 3,
 1,
 1,
 0,
 1,
 3,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 2,
 0,
 3,
 2,
 0,
 0,
 1,
 0,
 3,
 0,
 0,
 1,
 2,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 2,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 2,
 1,
 0,
 1,
 3,
 0,
 1,
 0,
 3,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 2,
 2,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 3,
 3,
 1,
 2,
 5,
 7,
 0,
 7,
 7,
 0,
 3,
 1,
 7,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 3,
 2,
 2,
 1,
 0,
 0,
 7,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 2,
 0,
 5,
 0,
 5,
 4,
 5,
 1,
 6,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 4,
 5,
 0,
 2,
 1,
 3,
 0,
 0,
 0,
 5,
 1,
 1,
 2,
 2,
 0,
 1,
 6,
 1,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 2,
 0,
 1,
 0,
 0,
 0,
 2,
 0,
 ...]

In [76]:
data['num_of_hospital'] = number
# data['annual_visits'] = number_visits
data.head()

,Unnamed: 0,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,...,state_code,county_code,census_tract,block_group,census_code,num_of_school,num_of_law_enforcement,num_of_fast_food,num_of_market,num_of_hospital
0,0,15_1028,15,Miami,18.0,Hialeah,Miami-Dade,Blackstone,NaN,3699 West 12th Avenue,...,12,86,720,1,120860007201,50,1,1,0,2
1,1,15_1202301,15,Miami,20.0,Opa-locka,Miami-Dade,Providence,"Pinks, The",13300 Alexandria Drive,...,12,86,508,1,120860005081,22,3,0,1,0
2,2,15_1218,15,Miami,23.0,North Miami Beach,Miami-Dade,Waterview,NaN,1720 South Glades Drive,...,12,86,225,2,120860002252,28,2,1,2,0
3,3,15_132,15,Miami,5.0,Miami - Overtown,Miami-Dade,Manhattan,NaN,560 NW 7th Street,...,12,86,3607,2,120860036072,58,6,0,3,7
4,4,15_1430,15,Miami,18.0,Hialeah,Miami-Dade,Curbelo & Sons,Zuvelo & Son,6151 West 24th Avenue,...,12,86,13500,2,120860135002,54,1,2,0,5

In [77]:
data.to_excel('num_of_hospital.xlsx')

# Airports

In [78]:
import pandas as pd

In [79]:
airports = pd.read_csv('list-of-airports-in-united-states-of-america-hxl-tags-1.csv')
airports.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords,score,last_updated
0,#meta +id,#meta +code,#loc +airport +type,#loc +airport +name,#geo +lat,#geo +lon,#geo +elevation +ft,#region +continent +code,#country +code +iso2,#adm1 +code +iso,#loc +municipality +name,#status +scheduled,#loc +airport +code +gps,#loc +airport +code +iata,#loc +airport +code +local,#meta +url +airport,#meta +url +wikipedia,#meta +keywords,#meta +score,#date +updated
1,3632,KLAX,large_airport,Los Angeles International Airport,33.94250107,-118.4079971,125,NaN,US,US-CA,Los Angeles,1,KLAX,LAX,LAX,http://www.iflylax.com/,http://en.wikipedia.org/wiki/Los_Angeles_Inter...,NaN,1335475,2010-01-23T11:27:55+00:00
2,3622,KJFK,large_airport,John F Kennedy International Airport,40.63980103,-73.77890015,13,NaN,US,US-NY,New York,1,KJFK,JFK,JFK,http://www.panynj.gov/CommutingTravel/airports...,http://en.wikipedia.org/wiki/John_F._Kennedy_I...,"Manhattan, New York City, NYC, Idlewild",1052075,2010-01-23T11:27:54+00:00
3,3754,KORD,large_airport,Chicago O'Hare International Airport,41.97859955,-87.90480042,672,NaN,US,US-IL,Chicago,1,KORD,ORD,ORD,http://www.flychicago.com/ohare/en/home/Pages/...,http://en.wikipedia.org/wiki/O'Hare_Internatio...,"CHI, Orchard Place",1503175,2014-08-19T18:55:27+00:00
4,3384,KATL,large_airport,Hartsfield Jackson Atlanta International Airport,33.63669967651367,-84.4281005859375,1026,NaN,US,US-GA,Atlanta,1,KATL,ATL,ATL,http://www.atlanta-airport.com/,http://en.wikipedia.org/wiki/Hartsfield-Jackso...,NaN,2002475,2008-06-13T14:30:04+00:00

In [80]:
airports.shape

(22217, 20)

In [81]:
#drop first row
airports.drop(index = airports.index[0], axis = 0, inplace=True)

In [82]:
airports.columns

Index(['id', 'ident', 'type', 'name', 'latitude_deg', 'longitude_deg',
       'elevation_ft', 'continent', 'iso_country', 'iso_region',
       'municipality', 'scheduled_service', 'gps_code', 'iata_code',
       'local_code', 'home_link', 'wikipedia_link', 'keywords', 'score',
       'last_updated'],
      dtype='object')

In [83]:
airports['type'].value_counts()

small_airport     13889
heliport           6187
closed              698
medium_airport      686
seaplane_base       565
large_airport       174
balloonport          17
Name: type, dtype: int64

In [84]:
airports.drop(airports[airports['type'] == 'closed'].index, inplace = True)
airports['type'].value_counts()

small_airport     13889
heliport           6187
medium_airport      686
seaplane_base       565
large_airport       174
balloonport          17
Name: type, dtype: int64

In [85]:
#no duplication
airports_dup = airports[airports.duplicated()]
airports_dup

Empty DataFrame
Columns: [id, ident, type, name, latitude_deg, longitude_deg, elevation_ft, continent, iso_country, iso_region, municipality, scheduled_service, gps_code, iata_code, local_code, home_link, wikipedia_link, keywords, score, last_updated]
Index: []

In [86]:
airports = airports[['type', 'name', 'latitude_deg', 'longitude_deg']]
airports

,type,name,latitude_deg,longitude_deg
1,large_airport,Los Angeles International Airport,33.94250107,-118.4079971
2,large_airport,John F Kennedy International Airport,40.63980103,-73.77890015
3,large_airport,Chicago O'Hare International Airport,41.97859955,-87.90480042
4,large_airport,Hartsfield Jackson Atlanta International Airport,33.63669967651367,-84.4281005859375
5,large_airport,San Francisco International Airport,37.61899948120117,-122.375
...,...,...,...,...
22212,seaplane_base,Zachar Bay Seaplane Base,57.553001,-153.746052
22213,small_airport,Jennings Ranch Airport,27.12809944,-99.12030029
22214,heliport,Zeeland Community Hospital Heliport,42.820455,-85.989075
22215,heliport,Florida Hospital Zephyrhills Heliport,28.262183,-82.185645
22216,heliport,Rotary Run Heliport,40.605805,-81.415002

In [87]:
airports['latitude_deg'].isnull().sum()

0

In [88]:
airports['longitude_deg'].isnull().sum()

0

In [89]:
airports['longitude_deg'] = airports['longitude_deg'].astype('float')

In [90]:
airports['latitude_deg'] = airports['latitude_deg'].astype('float')

In [91]:
airports['longitude_deg'].isnull().sum()

0

In [92]:
def calcDistance(Lat_A, Lng_A, Lat_B, Lng_B):
    EARTH_RADIUS = 6378.137
    radLat1 = radians(Lat_A)
    radLat2 = radians(Lat_B)
    a=radLat1-radLat2
    b=radians(Lng_A)-radians(Lng_B)
 
    s = 2 * asin(sqrt(pow(sin(a/2),2)+cos(radLat1)*cos(radLat2)*pow(sin(b/2),2)));  
    s = s * EARTH_RADIUS/1.6;   
    return s

In [93]:
from math import *
data_long = list(data['PROPERTY_LONGITUDE'])
data_lat = list(data['PROPERTY_LATITUDE'])
stb_long = list(airports['longitude_deg'])
stb_lat = list(airports['latitude_deg'])
# visits = list(school['Total Visits'])
number = []
#number_visits = []
i=0
for a,b in zip(data_lat,data_long):
    n = 0
#     total_number_visit = 0
    p = 0 #position
    total_number = 0
    for c,d in zip(stb_lat,stb_long):
        dis = calcDistance(a,b,c,d)
        if dis <= 10:
            n = n+1
#             total_number = total_number+visits[p]
            p = p+1
        else:
            n = n
            p = p+1
    i = i+1
    number.append(n)
#     number_visits.append(total_number)
    if i % 100 ==0:
        print(i)
number
# number_visits

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000
10100
10200
10300
10400
10500
10600
10700
10800

[18,
 23,
 14,
 17,
 16,
 14,
 20,
 18,
 16,
 20,
 19,
 10,
 18,
 21,
 18,
 23,
 16,
 11,
 20,
 10,
 12,
 14,
 9,
 2,
 14,
 3,
 13,
 7,
 6,
 5,
 7,
 16,
 11,
 12,
 5,
 17,
 15,
 17,
 13,
 7,
 13,
 9,
 16,
 14,
 9,
 8,
 17,
 15,
 6,
 15,
 12,
 12,
 8,
 7,
 6,
 23,
 7,
 7,
 9,
 13,
 13,
 12,
 6,
 7,
 12,
 12,
 19,
 20,
 15,
 14,
 11,
 4,
 6,
 16,
 8,
 5,
 19,
 23,
 7,
 4,
 22,
 21,
 23,
 7,
 7,
 7,
 19,
 16,
 6,
 10,
 6,
 15,
 14,
 16,
 16,
 8,
 8,
 12,
 13,
 13,
 1,
 10,
 6,
 7,
 7,
 10,
 7,
 7,
 10,
 3,
 4,
 3,
 6,
 18,
 17,
 14,
 19,
 14,
 13,
 15,
 12,
 12,
 15,
 15,
 13,
 12,
 2,
 10,
 17,
 15,
 17,
 6,
 12,
 16,
 13,
 17,
 14,
 10,
 4,
 10,
 6,
 7,
 9,
 8,
 26,
 24,
 11,
 23,
 15,
 7,
 17,
 21,
 20,
 10,
 17,
 14,
 6,
 7,
 7,
 5,
 12,
 11,
 6,
 7,
 14,
 10,
 14,
 13,
 8,
 11,
 8,
 8,
 15,
 11,
 10,
 8,
 10,
 12,
 17,
 14,
 8,
 15,
 13,
 13,
 12,
 12,
 16,
 6,
 4,
 11,
 4,
 11,
 8,
 9,
 11,
 4,
 4,
 3,
 9,
 6,
 9,
 12,
 8,
 13,
 19,
 14,
 15,
 13,
 18,
 16,
 14,
 13,
 11,
 11,
 13,
 15,
 9,
 10,
 10,
 13,
 11,
 14,
 12,
 18,
 8,
 17,
 18,
 16,
 17,
 13,
 10,
 10,
 14,
 10,
 15,
 12,
 18,
 14,
 14,
 14,
 15,
 16,
 13,
 13,
 11,
 10,
 15,
 9,
 4,
 26,
 21,
 20,
 21,
 21,
 18,
 23,
 27,
 17,
 22,
 26,
 25,
 8,
 27,
 12,
 26,
 29,
 13,
 5,
 26,
 26,
 23,
 21,
 6,
 13,
 5,
 7,
 7,
 4,
 7,
 7,
 5,
 7,
 6,
 4,
 5,
 3,
 13,
 18,
 12,
 16,
 13,
 7,
 16,
 5,
 18,
 14,
 11,
 8,
 17,
 14,
 18,
 17,
 16,
 9,
 12,
 17,
 18,
 15,
 13,
 12,
 8,
 8,
 9,
 10,
 15,
 15,
 15,
 8,
 15,
 14,
 15,
 13,
 12,
 15,
 7,
 8,
 3,
 15,
 6,
 8,
 8,
 7,
 3,
 9,
 12,
 11,
 11,
 13,
 10,
 3,
 4,
 8,
 8,
 11,
 15,
 15,
 17,
 9,
 13,
 12,
 13,
 17,
 9,
 19,
 14,
 13,
 14,
 11,
 18,
 13,
 11,
 10,
 8,
 9,
 7,
 14,
 14,
 10,
 13,
 14,
 14,
 17,
 7,
 8,
 6,
 12,
 6,
 17,
 9,
 14,
 12,
 8,
 15,
 14,
 7,
 13,
 14,
 17,
 3,
 10,
 15,
 12,
 13,
 10,
 14,
 13,
 6,
 9,
 6,
 18,
 9,
 15,
 17,
 9,
 12,
 13,
 12,
 7,
 9,
 14,
 5,
 14,
 12,
 7,
 26,
 29,
 27,
 26,
 10,
 17,
 21,
 25,
 18,
 17,
 18,
 21,
 25,
 25,
 8,
 15,
 9,
 27,
 11,
 21,
 20,
 10,
 11,
 11,
 26,
 19,
 4,
 6,
 21,
 23,
 24,
 19,
 26,
 18,
 11,
 12,
 20,
 19,
 5,
 6,
 10,
 25,
 25,
 24,
 11,
 23,
 2,
 6,
 25,
 8,
 26,
 24,
 21,
 14,
 8,
 11,
 22,
 8,
 17,
 24,
 13,
 12,
 6,
 7,
 12,
 5,
 7,
 5,
 3,
 4,
 11,
 4,
 7,
 7,
 7,
 12,
 7,
 7,
 14,
 13,
 7,
 5,
 6,
 7,
 3,
 6,
 8,
 2,
 5,
 7,
 4,
 13,
 12,
 5,
 2,
 4,
 3,
 14,
 11,
 8,
 12,
 12,
 12,
 16,
 13,
 13,
 4,
 12,
 13,
 6,
 20,
 13,
 8,
 16,
 7,
 5,
 4,
 13,
 14,
 14,
 8,
 8,
 17,
 17,
 10,
 8,
 8,
 8,
 10,
 13,
 17,
 12,
 9,
 3,
 14,
 9,
 17,
 14,
 17,
 12,
 10,
 5,
 14,
 8,
 12,
 9,
 10,
 13,
 12,
 14,
 3,
 3,
 9,
 5,
 8,
 7,
 10,
 11,
 4,
 8,
 8,
 8,
 10,
 8,
 2,
 4,
 3,
 4,
 4,
 3,
 2,
 9,
 7,
 9,
 9,
 13,
 16,
 15,
 12,
 17,
 17,
 14,
 17,
 18,
 12,
 14,
 13,
 10,
 13,
 13,
 10,
 14,
 15,
 8,
 10,
 11,
 11,
 9,
 8,
 14,
 9,
 10,
 8,
 10,
 10,
 4,
 10,
 16,
 16,
 15,
 9,
 13,
 7,
 13,
 14,
 9,
 16,
 16,
 17,
 10,
 5,
 11,
 16,
 3,
 12,
 14,
 11,
 10,
 13,
 9,
 11,
 11,
 14,
 14,
 11,
 17,
 9,
 10,
 5,
 6,
 17,
 18,
 15,
 5,
 13,
 17,
 17,
 18,
 17,
 17,
 17,
 11,
 6,
 12,
 8,
 15,
 11,
 25,
 29,
 6,
 15,
 9,
 18,
 5,
 20,
 13,
 14,
 15,
 9,
 23,
 4,
 7,
 25,
 13,
 15,
 18,
 12,
 23,
 25,
 18,
 4,
 12,
 13,
 26,
 19,
 26,
 16,
 25,
 5,
 5,
 8,
 26,
 6,
 12,
 23,
 14,
 4,
 19,
 27,
 9,
 24,
 11,
 26,
 28,
 20,
 26,
 13,
 22,
 23,
 7,
 24,
 23,
 14,
 24,
 27,
 18,
 29,
 26,
 5,
 13,
 24,
 23,
 27,
 5,
 12,
 22,
 20,
 25,
 20,
 27,
 21,
 27,
 11,
 12,
 11,
 14,
 17,
 9,
 8,
 11,
 13,
 5,
 4,
 13,
 7,
 9,
 6,
 7,
 7,
 4,
 7,
 13,
 4,
 7,
 7,
 5,
 12,
 13,
 7,
 11,
 7,
 7,
 4,
 7,
 9,
 13,
 8,
 6,
 6,
 9,
 7,
 4,
 9,
 11,
 8,
 17,
 11,
 14,
 7,
 18,
 9,
 14,
 11,
 14,
 4,
 6,
 15,
 9,
 16,
 14,
 12,
 10,
 13,
 10,
 4,
 4,
 8,
 16,
 14,
 14,
 8,
 6,
 6,
 14,
 11,
 11,
 11,
 8,
 11,
 11,
 14,
 8,
 12,
 8,
 14,
 8,
 11,
 8,
 18,
 19,
 18,
 15,
 11,
 14,
 8,
 8,
 11,
 13,
 13,
 17,
 13,
 14,
 14,
 13,
 10,
 16,
 13,
 13,
 10,
 13,
 16,
 14,
 9,
 3,
 8,
 10,
 2,
 6,
 17,
 10,
 15,
 12,
 4,
 4,
 8,
 11,
 6,
 9,
 10,
 5,
 11,
 7,
 8,
 11,
 2,
 9,
 4,
 11,
 7,
 4,
 9,
 7,
 7,
 4,
 9,
 8,
 20,
 13,
 14,
 13,
 16,
 13,
 15,
 12,
 15,
 16,
 18,
 10,
 18,
 17,
 16,
 13,
 13,
 16,
 13,
 11,
 10,
 16,
 13,
 13,
 17,
 14,
 14,
 12,
 15,
 12,
 17,
 16,
 12,
 11,
 12,
 13,
 17,
 11,
 3,
 10,
 14,
 14,
 14,
 11,
 9,
 14,
 10,
 14,
 18,
 15,
 14,
 13,
 16,
 11,
 17,
 13,
 13,
 12,
 13,
 11,
 9,
 7,
 9,
 8,
 7,
 9,
 8,
 10,
 5,
 15,
 17,
 14,
 13,
 15,
 7,
 11,
 9,
 16,
 14,
 13,
 16,
 17,
 9,
 15,
 15,
 15,
 11,
 13,
 11,
 15,
 14,
 14,
 15,
 17,
 17,
 9,
 4,
 9,
 14,
 12,
 14,
 14,
 9,
 9,
 6,
 10,
 6,
 19,
 29,
 27,
 ...]

In [94]:
data['num_of_airports'] = number
# data['annual_visits'] = number_visits
data.head()

,Unnamed: 0,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,...,county_code,census_tract,block_group,census_code,num_of_school,num_of_law_enforcement,num_of_fast_food,num_of_market,num_of_hospital,num_of_airports
0,0,15_1028,15,Miami,18.0,Hialeah,Miami-Dade,Blackstone,NaN,3699 West 12th Avenue,...,86,720,1,120860007201,50,1,1,0,2,18
1,1,15_1202301,15,Miami,20.0,Opa-locka,Miami-Dade,Providence,"Pinks, The",13300 Alexandria Drive,...,86,508,1,120860005081,22,3,0,1,0,23
2,2,15_1218,15,Miami,23.0,North Miami Beach,Miami-Dade,Waterview,NaN,1720 South Glades Drive,...,86,225,2,120860002252,28,2,1,2,0,14
3,3,15_132,15,Miami,5.0,Miami - Overtown,Miami-Dade,Manhattan,NaN,560 NW 7th Street,...,86,3607,2,120860036072,58,6,0,3,7,17
4,4,15_1430,15,Miami,18.0,Hialeah,Miami-Dade,Curbelo & Sons,Zuvelo & Son,6151 West 24th Avenue,...,86,13500,2,120860135002,54,1,2,0,5,16

In [95]:
# data.to_excel('num_of_airports.xlsx')

# Vegetarian Resturant

In [37]:
import pandas as pd

In [38]:
vegie = pd.read_csv('vegetarian_restaurants_US_datafiniti_vegetarian_restaurants_US_datafiniti.csv')
vegie.head()

,address,categories,city,claimed,country,cuisines,dateOpened,dateUpdated,descriptions,facebookPageURL,...,menuURL,name,paymentTypes,phones,postalCode,priceRange,province,sic,twitter,websites
0,2871 Gulf To Bay Blvd,"American, American (new), Clearwater Restauran...",Clearwater,NaN,US,NaN,NaN,2014-02-01T04:41:06Z,"Tags: American (New), American, and Trendy Sta...",NaN,...,NaN,Village Inn Restaurant and Bakery,NaN,7277964988,33759,NaN,FL,8423,NaN,NaN
1,605 W Main St,Caf and Sandwich Place,Louisville,NaN,US,"Vegetarian, Â Delicatessen",NaN,2016-07-23T22:37:24Z,"Atlantic No. 5, Louisville: See 4 unbiased rev...",NaN,...,NaN,Atlantic No. 5,Yes,5028833398,40202,USD 25.00-40.00,KY,NaN,NaN,atlanticno5.com
2,3803 9th St S W,"American, Barbecue, Puyallup Restaurants, Barb...",Puyallup,NaN,US,NaN,NaN,2015-11-19T22:22:31Z,"Description: Famous Dave's is a Barbecue , Am...",NaN,...,NaN,Famous Dave's,NaN,2536040340,98373,USD 10.00 - USD 15.00,WA,5610,NaN,http://famousdaves.com
3,30 S Main St,"Coffee & Tea, Restaurant, Restaurants, Bar, Am...",Oberlin,NaN,US,"Coffee & Tea, Restaurants, American, Â Bar, Â Pu...",NaN,2016-06-20T17:47:10Z,"The Feve, Oberlin: See 170 unbiased reviews of...",NaN,...,/oberlin-oh/mip/the-feve-8940755/menu,The Feve,"mastercard, amex, discover, Yes, visa","[""4407741978"",""4197741978"",""4407753064""]",44074,USD 25.00-40.00,OH,NaN,NaN,http://www.thefeve.com
4,55 Crescent Dr,Sandwich Place and Fast Food Restaurant,Pleasant Hill,yellowpages.com,US,"Take Out Restaurants, Asian Restaurants, Resta...",NaN,2016-07-23T23:55:05Z,"[""https://www.zagat.com/r/yalla-mediterranean-...",NaN,...,/pleasant-hill-ca/mip/yalla-mediterranean-5061...,Quiznos,"master card, visa",9258258644,94523,$,CA,NaN,quiznos,http://www.yallamedi.com/

In [39]:
vegie.shape

(18155, 29)

In [40]:
vegie.columns

Index(['address', 'categories', 'city', 'claimed', 'country', 'cuisines',
       'dateOpened', 'dateUpdated', 'descriptions', 'facebookPageURL',
       'features', 'hours', 'images', 'isClosed', 'key', 'lat', 'languages',
       'long', 'menus', 'menuURL', 'name', 'paymentTypes', 'phones',
       'postalCode', 'priceRange', 'province', 'sic', 'twitter', 'websites'],
      dtype='object')

In [41]:
vegie = vegie[['address','city','country','lat','long','name','postalCode','province','priceRange']]
vegie

,address,city,country,lat,long,name,postalCode,province,priceRange
0,2871 Gulf To Bay Blvd,Clearwater,US,27.971165,-82.696938,Village Inn Restaurant and Bakery,33759,FL,NaN
1,605 W Main St,Louisville,US,38.257020,-85.760013,Atlantic No. 5,40202,KY,USD 25.00-40.00
2,3803 9th St S W,Puyallup,US,47.154828,-122.303992,Famous Dave's,98373,WA,USD 10.00 - USD 15.00
3,30 S Main St,Oberlin,US,41.290823,-82.217640,The Feve,44074,OH,USD 25.00-40.00
4,55 Crescent Dr,Pleasant Hill,US,37.945663,-122.061997,Quiznos,94523,CA,$
...,...,...,...,...,...,...,...,...,...
18150,879 Smith Ave S,W St Paul,US,44.919503,-93.101769,The Old Man River Cafe,55118,MN,NaN
18151,1410 Colonial Life Blvd W,Columbia,US,34.028310,-81.092260,The Melting Pot,29210-7665,SC,NaN
18152,9439 Sheridan St,Hollywood,US,26.030425,-80.268463,Smoothie King,33024,FL,NaN
18153,801 N Congress Ave,Boynton Beach,US,26.535627,-80.090760,Buca Di Beppo,"[""33426""]",FL,$$
18154,1603 Delaware 1,Rehoboth Beach,US,NaN,NaN,Grotto Pizza,19971,DE,NaN

In [44]:
vegie['priceRange'].value_counts()

$$                      1827
USD 25.00-40.00         1417
$                       1150
USD 0.00-25.00           757
USD 0.00 - USD 30.00     505
                        ...
USD 0 - USD 29             1
USD 6 - USD 18             1
USD 20 - USD 35            1
USD 7 - USD 11             1
USD , USD USD              1
Name: priceRange, Length: 151, dtype: int64

In [42]:
vegie['priceRange'].isnull().sum()

10408

In [101]:
vegie['lat'].isnull().sum()

4451

In [102]:
vegie['long'].isnull().sum()

4395

In [103]:
unavailable = vegie[['lat','long']].isnull()
unavailable = pd.DataFrame(unavailable)
unavailable = unavailable[unavailable.any(axis=1)]
unavailable.index

Int64Index([    6,    15,    22,    30,    55,    58,    64,    81,    82,
              108,
            ...
            18099, 18105, 18106, 18122, 18123, 18124, 18133, 18148, 18149,
            18154],
           dtype='int64', length=4451)

In [104]:
vegie = vegie.drop(unavailable.index)

In [105]:
vegie['lat'].isnull().sum()

0

In [106]:
vegie['long'].isnull().sum()

0

In [107]:
def calcDistance(Lat_A, Lng_A, Lat_B, Lng_B):
    EARTH_RADIUS = 6378.137
    radLat1 = radians(Lat_A)
    radLat2 = radians(Lat_B)
    a=radLat1-radLat2
    b=radians(Lng_A)-radians(Lng_B)
 
    s = 2 * asin(sqrt(pow(sin(a/2),2)+cos(radLat1)*cos(radLat2)*pow(sin(b/2),2)));  
    s = s * EARTH_RADIUS/1.6;   
    return s

In [108]:
from math import *
data_long = list(data['PROPERTY_LONGITUDE'])
data_lat = list(data['PROPERTY_LATITUDE'])
stb_long = list(vegie['long'])
stb_lat = list(vegie['lat'])
# visits = list(school['Total Visits'])
number = []
#number_visits = []
i=0
for a,b in zip(data_lat,data_long):
    n = 0
#     total_number_visit = 0
    p = 0 #position
    total_number = 0
    for c,d in zip(stb_lat,stb_long):
        dis = calcDistance(a,b,c,d)
        if dis <= 1:
            n = n+1
#             total_number = total_number+visits[p]
            p = p+1
        else:
            n = n
            p = p+1
    i = i+1
    number.append(n)
#     number_visits.append(total_number)
    if i % 100 ==0:
        print(i)
number
# number_visits

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000
10100
10200
10300
10400
10500
10600
10700
10800

[0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 0,
 1,
 1,
 6,
 0,
 2,
 1,
 1,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 2,
 0,
 0,
 6,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 2,
 0,
 2,
 1,
 2,
 0,
 0,
 0,
 2,
 4,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 2,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 10,
 3,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 6,
 3,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 2,
 0,
 4,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 2,
 1,
 1,
 2,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 2,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 3,
 2,
 0,
 0,
 0,
 4,
 0,
 0,
 0,
 4,
 2,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 2,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 1,
 0,
 0,
 2,
 1,
 0,
 2,
 1,
 0,
 1,
 0,
 3,
 0,
 0,
 0,
 1,
 1,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 2,
 2,
 1,
 0,
 0,
 2,
 0,
 0,
 1,
 0,
 2,
 1,
 0,
 0,
 0,
 1,
 1,
 2,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 3,
 2,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 2,
 0,
 0,
 2,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 5,
 0,
 0,
 1,
 0,
 0,
 0,
 2,
 0,
 0,
 6,
 3,
 1,
 0,
 1,
 0,
 0,
 0,
 9,
 1,
 0,
 0,
 0,
 0,
 0,
 8,
 0,
 3,
 0,
 4,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 4,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 3,
 0,
 0,
 0,
 4,
 0,
 0,
 0,
 0,
 1,
 1,
 3,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 4,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 2,
 0,
 2,
 1,
 6,
 0,
 1,
 0,
 2,
 2,
 0,
 2,
 7,
 1,
 0,
 0,
 0,
 0,
 2,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 6,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 2,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 5,
 0,
 0,
 4,
 0,
 0,
 0,
 0,
 3,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 4,
 0,
 3,
 6,
 2,
 0,
 4,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 3,
 1,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 6,
 0,
 0,
 0,
 2,
 1,
 3,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 5,
 6,
 0,
 0,
 0,
 1,
 0,
 4,
 0,
 4,
 0,
 4,
 3,
 0,
 1,
 0,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 1,
 1,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 2,
 4,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 2,
 1,
 1,
 0,
 0,
 0,
 0,
 2,
 2,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 2,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 2,
 0,
 1,
 1,
 0,
 0,
 4,
 0,
 2,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 4,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 2,
 0,
 0,
 2,
 1,
 2,
 0,
 0,
 2,
 0,
 1,
 0,
 9,
 3,
 1,
 3,
 7,
 1,
 0,
 0,
 0,
 1,
 1,
 2,
 0,
 0,
 0,
 2,
 2,
 2,
 0,
 1,
 1,
 0,
 1,
 1,
 2,
 1,
 0,
 0,
 2,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 1,
 5,
 0,
 0,
 0,
 2,
 3,
 6,
 0,
 7,
 0,
 2,
 0,
 10,
 1,
 4,
 3,
 5,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 13,
 7,
 11,
 0,
 0,
 3,
 4,
 0,
 0,
 1,
 6,
 0,
 0,
 4,
 1,
 4,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 1,
 0,
 2,
 0,
 2,
 0,
 2,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 3,
 0,
 1,
 1,
 1,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 ...]

In [109]:
data['num_of_vegie_resturant'] = number
# data['annual_visits'] = number_visits
data.head()

,Unnamed: 0,PROPERTY_ID,MARKETID,MARKET_NAME,SUBMARKET_CODE,SUBMARKET_NAME,COUNTY_NAME,PROPERTY_NAME,PROPERTY_PRIORNAMES,PROPERTY_ADDRESS,...,census_tract,block_group,census_code,num_of_school,num_of_law_enforcement,num_of_fast_food,num_of_market,num_of_hospital,num_of_airports,num_of_vegie_resturant
0,0,15_1028,15,Miami,18.0,Hialeah,Miami-Dade,Blackstone,NaN,3699 West 12th Avenue,...,720,1,120860007201,50,1,1,0,2,18,0
1,1,15_1202301,15,Miami,20.0,Opa-locka,Miami-Dade,Providence,"Pinks, The",13300 Alexandria Drive,...,508,1,120860005081,22,3,0,1,0,23,0
2,2,15_1218,15,Miami,23.0,North Miami Beach,Miami-Dade,Waterview,NaN,1720 South Glades Drive,...,225,2,120860002252,28,2,1,2,0,14,0
3,3,15_132,15,Miami,5.0,Miami - Overtown,Miami-Dade,Manhattan,NaN,560 NW 7th Street,...,3607,2,120860036072,58,6,0,3,7,17,1
4,4,15_1430,15,Miami,18.0,Hialeah,Miami-Dade,Curbelo & Sons,Zuvelo & Son,6151 West 24th Avenue,...,13500,2,120860135002,54,1,2,0,5,16,0

In [110]:
data.to_excel('final.xlsx')

# Top School Ranking (NOT FINISHED)

In [1]:
import pandas as pd

In [2]:
school = pd.read_excel("U.S. School.xlsx")
school.head()

,Unnamed: 0,NAME,STREET,CITY,STATE,ZIP,CNTY,NMCNTY,LOCALE,LAT,LON
0,0,Albertville Middle School,600 E Alabama Ave,Albertville,AL,35950,1095,Marshall County,32,34.2602,-86.206200
1,1,Albertville High School,402 E McCord Ave,Albertville,AL,35950,1095,Marshall County,32,34.2622,-86.204900
2,2,Evans Elementary School,901 W McKinney Ave,Albertville,AL,35950,1095,Marshall County,32,34.2733,-86.220100
3,3,Albertville Elementary School,145 West End Drive,Albertville,AL,35950,1095,Marshall County,32,34.2527,-86.221806
4,4,Albertville Kindergarten and PreK,257 Country Club Rd,Albertville,AL,35951,1095,Marshall County,32,34.2898,-86.193300

In [32]:
florida = school[school['STATE']=='FL']

In [34]:
florida.head()

,Unnamed: 0,NAME,STREET,CITY,STATE,ZIP,CNTY,NMCNTY,LOCALE,LAT,LON
19520,19520,FLORIDA VIRTUAL SCHOOL FLEX 6-8,2145 METROCENTER BLVD STE 100,ORLANDO,FL,32835,12095,Orange County,11,28.519102,-81.467897
19521,19521,FLORIDA VIRTUAL SCHOOL FLEX 9-12,2145 METROCENTER BLVD STE 100,ORLANDO,FL,32835,12095,Orange County,11,28.519102,-81.467897
19522,19522,FLORIDA VIRTUAL SCHOOL FLEX K-5,2145 METROCENTER BLVD STE 100,ORLANDO,FL,32835,12095,Orange County,11,28.519102,-81.467897
19523,19523,FLVS FULL TIME K-5,2145 METROCENTER BLVD STE 100,ORLANDO,FL,32835,12095,Orange County,11,28.519102,-81.467897
19524,19524,FLVS FULL-TIME 9-12,2145 METROCENTER BLVD STE 200,ORLANDO,FL,32835,12095,Orange County,11,28.519102,-81.467897

In [35]:
import pandas as pd

In [36]:
vegie = pd.read_csv('Datafiniti_Vegetarian_and_Vegan_Restaurants.csv')
vegie.head()

,id,dateAdded,dateUpdated,address,categories,primaryCategories,city,claimed,country,cuisines,...,postalCode,priceRangeCurrency,priceRangeMin,priceRangeMax,province,sic,sourceURLs,twitter,websites,yearOpened
0,AVwd3yXEkufWRAb59-sH,2016-04-22T02:47:48Z,2018-09-10T21:00:49Z,1045 San Pablo Ave,"Restaurant,Asian/Pacific,Cafe,Vegetarian / Veg...",Accommodation & Food Services,Albany,NaN,US,"Thai,Asian/Pacific,Vegetarian",...,94706,NaN,NaN,NaN,CA,NaN,https://foursquare.com/v/potala-organic-cafe/4...,NaN,"http://www.potala.us/,http://potala.us",NaN
1,AVwd3yXEkufWRAb59-sH,2016-04-22T02:47:48Z,2018-09-10T21:00:49Z,1045 San Pablo Ave,"Restaurant,Asian/Pacific,Cafe,Vegetarian / Veg...",Accommodation & Food Services,Albany,NaN,US,"Thai,Asian/Pacific,Vegetarian",...,94706,NaN,NaN,NaN,CA,NaN,https://foursquare.com/v/potala-organic-cafe/4...,NaN,"http://www.potala.us/,http://potala.us",NaN
2,AVwd3yXEkufWRAb59-sH,2016-04-22T02:47:48Z,2018-09-10T21:00:49Z,1045 San Pablo Ave,"Restaurant,Asian/Pacific,Cafe,Vegetarian / Veg...",Accommodation & Food Services,Albany,NaN,US,"Thai,Asian/Pacific,Vegetarian",...,94706,NaN,NaN,NaN,CA,NaN,https://foursquare.com/v/potala-organic-cafe/4...,NaN,"http://www.potala.us/,http://potala.us",NaN
3,AVwd3yXEkufWRAb59-sH,2016-04-22T02:47:48Z,2018-09-10T21:00:49Z,1045 San Pablo Ave,"Restaurant,Asian/Pacific,Cafe,Vegetarian / Veg...",Accommodation & Food Services,Albany,NaN,US,"Thai,Asian/Pacific,Vegetarian",...,94706,NaN,NaN,NaN,CA,NaN,https://foursquare.com/v/potala-organic-cafe/4...,NaN,"http://www.potala.us/,http://potala.us",NaN
4,AVwd3yXEkufWRAb59-sH,2016-04-22T02:47:48Z,2018-09-10T21:00:49Z,1045 San Pablo Ave,"Restaurant,Asian/Pacific,Cafe,Vegetarian / Veg...",Accommodation & Food Services,Albany,NaN,US,"Thai,Asian/Pacific,Vegetarian",...,94706,NaN,NaN,NaN,CA,NaN,https://foursquare.com/v/potala-organic-cafe/4...,NaN,"http://www.potala.us/,http://potala.us",NaN